.archivos-container {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: whitesmoke;
}
.archivos-seccionprincipal {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  background: beige;
  align-items: center;
  animation-name: fadeIn;
  flex-direction: column;
  animation-delay: 0s;
  animation-duration: 700ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.archivos-barrasuperior {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  z-index: 100;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-scheme-white);
}
.archivos-logoizquierda {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  justify-content: center;
}
.archivos-link10 {
  display: contents;
}
.archivos-image1 {
  width: 100px;
  object-fit: cover;
  transition: 0.5s;
  animation-name: fadeInRight;
  animation-delay: 0s;
  text-decoration: none;
  animation-duration: 700ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.archivos-image1:hover {
  cursor: pointer;
  transform: scale(0.8);
  transition: 0.5s;
}
.archivos-logocentro {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  justify-content: center;
}
.archivos-image2 {
  width: 400px;
  height: 100px;
  object-fit: cover;
  transition: 0.5s;
  animation-name: fadeInDown;
  animation-delay: 0s;
  text-decoration: none;
  animation-duration: 700ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.archivos-image2:hover {
  cursor: pointer;
  transform: scale(0.9);
  transition: 0.5s;
}
.archivos-logoderecha {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  justify-content: center;
}
.archivos-link11 {
  display: contents;
}
.archivos-image3 {
  width: 100px;
  object-fit: cover;
  transition: 0.5s;
  animation-name: fadeInLeft;
  animation-delay: 0s;
  text-decoration: none;
  animation-duration: 700ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.archivos-image3:hover {
  cursor: pointer;
  transform: scale(0.8);
  transition: 0.5s;
}
.archivos-barrainferior {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  z-index: 1002;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 0px;
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  padding-bottom: 0px;
  justify-content: space-between;
  background-color: var(--dl-color-scheme-white);
}
.archivos-botonmenu {
  display: none;
  transition: 0.5s;
  align-items: center;
  justify-content: center;
}
.archivos-botonmenu:hover {
  cursor: pointer;
  transform: translate(0px,5px);
}
.archivos-icon1 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.archivos-navlink10 {
  display: contents;
}
.archivos-botoninicio {
  flex: 0 0 auto;
  width: var(--dl-size-size-large);
  cursor: pointer;
  height: var(--dl-size-size-medium);
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  transition: 0.5s;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #ffffff;
}
.archivos-botoninicio:hover {
  z-index: 10001;
  transform: translateY(10px);
  transition: 0.5s;
  background-color: whitesmoke;
  border-bottom-width: 8px;
}
.archivos-link12 {
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding-left: 0px;
}
.archivos-navlink11 {
  display: contents;
}
.archivos-botonsobrerevista {
  flex: 0 0 auto;
  width: var(--dl-size-size-large);
  cursor: pointer;
  height: var(--dl-size-size-medium);
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  transition: 0.5s;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #ffffff;
}
.archivos-botonsobrerevista:hover {
  z-index: 10001;
  transform: translateY(10px);
  transition: 0.5s;
  background-color: whitesmoke;
  border-bottom-width: 8px;
}
.archivos-link13 {
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding-left: 0px;
  text-decoration: none;
}
.archivos-navlink12 {
  display: contents;
}
.archivos-botoncomiteeditorial {
  flex: 0 0 auto;
  width: var(--dl-size-size-large);
  cursor: pointer;
  height: var(--dl-size-size-medium);
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  transition: 0.5s;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #ffffff;
}
.archivos-botoncomiteeditorial:hover {
  z-index: 10001;
  transform: translateY(10px);
  transition: 0.5s;
  background-color: whitesmoke;
  border-bottom-width: 8px;
}
.archivos-link14 {
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding-left: 0px;
  text-decoration: none;
}
.archivos-navlink13 {
  display: contents;
}
.archivos-botonarchivos {
  flex: 0 0 auto;
  width: var(--dl-size-size-large);
  cursor: pointer;
  height: var(--dl-size-size-medium);
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  transition: 0.5s;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #ffffff;
}
.archivos-botonarchivos:hover {
  z-index: 10001;
  transform: translateY(10px);
  transition: 0.5s;
  background-color: whitesmoke;
  border-bottom-width: 8px;
}
.archivos-link15 {
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding-left: 0px;
  text-decoration: none;
}
.archivos-navlink14 {
  display: contents;
}
.archivos-botonpoliticaeditorial {
  flex: 0 0 auto;
  width: var(--dl-size-size-large);
  cursor: pointer;
  height: var(--dl-size-size-medium);
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  transition: 0.5s;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #ffffff;
}
.archivos-botonpoliticaeditorial:hover {
  z-index: 10001;
  transform: translateY(10px);
  transition: 0.5s;
  background-color: whitesmoke;
  border-bottom-width: 8px;
}
.archivos-link16 {
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding-left: 0px;
  text-decoration: none;
}
.archivos-navlink15 {
  display: contents;
}
.archivos-botongaleria {
  flex: 0 0 auto;
  width: var(--dl-size-size-large);
  cursor: pointer;
  height: var(--dl-size-size-medium);
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  transition: 0.5s;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #ffffff;
}
.archivos-botongaleria:hover {
  z-index: 10001;
  transform: translateY(10px);
  transition: 0.5s;
  background-color: whitesmoke;
  border-bottom-width: 8px;
}
.archivos-link17 {
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding-left: 0px;
  text-decoration: none;
}
.archivos-navlink16 {
  display: contents;
}
.archivos-botoncontacto {
  flex: 0 0 auto;
  width: var(--dl-size-size-large);
  cursor: pointer;
  height: var(--dl-size-size-medium);
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  transition: 0.5s;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #ffffff;
}
.archivos-botoncontacto:hover {
  z-index: 10001;
  transform: translateY(10px);
  transition: 0.5s;
  background-color: whitesmoke;
  border-bottom-width: 8px;
}
.archivos-link18 {
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding-left: 0px;
  text-decoration: none;
}
.archivos-menumovil {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  position: fixed;
  transform: translateX(100%);
  overflow-y: auto;
  transition: 0.5s;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
  background-color: var(--dl-color-scheme-white);
}
.archivos-marco {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.archivos-logorevista {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.archivos-image4 {
  width: 20%;
}
.archivos-botoncerrar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.archivos-icon3 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  transition: 0.5s;
}
.archivos-icon3:hover {
  cursor: pointer;
  transform: translateX(-10px) scale(1.1);
  transition: 0.5s;
}
.archivos-marco-para-links {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.archivos-text12 {
  transition: 0.5s;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.archivos-text12:hover {
  cursor: pointer;
  transform: translateX(10px) scale(1.1);
  transition: 0.5s;
}
.archivos-text13 {
  transition: 0.5s;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.archivos-text13:hover {
  cursor: pointer;
  transform: translateX(10px) scale(1.1);
  transition: 0.5s;
}
.archivos-text14:hover {
  cursor: pointer;
  transform: translateX(10px) scale(1.1);
  transition: 0.5s;
}
.archivos-text16 {
  transition: 0.5s;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.archivos-text16:hover {
  cursor: pointer;
  transform: translateX(10px) scale(1.1);
  transition: 0.5s;
}
.archivos-text17 {
  transition: 0.5s;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.archivos-text17:hover {
  cursor: pointer;
  transform: translateX(10px) scale(1.1);
  transition: 0.5s;
}
.archivos-text18 {
  transition: 0.5s;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.archivos-text18:hover {
  cursor: pointer;
  transform: translateX(10px) scale(1.1);
  transition: 0.5s;
}
.archivos-text19 {
  transition: 0.5s;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.archivos-text19:hover {
  cursor: pointer;
  transform: translateX(10px) scale(1.1);
  transition: 0.5s;
}
.archivos-text20 {
  transition: 0.5s;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.archivos-text20:hover {
  cursor: pointer;
  transform: translateX(10px) scale(1.1);
  transition: 0.5s;
}
.archivos-bannerarchivos {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}
.archivos-image5 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}
.archivos-image5:hover {
  transform: scale(1.05);
  transition: 0.5s;
}
.archivos-secciontitulo {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  z-index: 100;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: black;
}
.archivos-texto {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.archivos-header1 {
  color: var(--dl-color-gray-white);
  font-size: 66px;
  max-width: auto;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.archivos-contenido {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  background-color: whitesmoke;
}
.archivos-contenedorcuadros1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  transition: 0.5s;
  align-items: stretch;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: center;
}
.archivos-cuadroultimovolumen {
  width: auto;
  height: 100%;
  display: flex;
  align-items: stretch;
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: row;
  justify-content: center;
}
.archivos-ladoizquierdo1 {
  width: auto;
  height: auto;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.archivos-contenedordecoraciones1 {
  flex: 1;
  display: flex;
  align-self: flex-end;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
}
.archivos-contenedorcuadros2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.archivos-cuadropequeo1 {
  flex: 0 0 auto;
  width: 54px;
  height: 54px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-grays-500);
}
.archivos-cuadrogrande1 {
  flex: 0 0 auto;
  width: 108px;
  height: 108px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: black;
}
.archivos-ladoderecho1 {
  flex: 0 0 auto;
  width: auto;
  height: 70%;
  display: flex;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: space-between;
  background-color: var(--dl-color-scheme-white);
}
.archivos-nombre1 {
  color: black;
  font-size: 36px;
  font-style: normal;
  text-align: center;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 1.15;
  padding-bottom: var(--dl-space-space-twounits);
}
.archivos-navlink17 {
  color: var(--dl-color-scheme-white);
  overflow: hidden;
  font-size: 26px;
  text-align: center;
  transition: 0.5s;
  border-width: 0px;
  border-radius: 0px;
  text-decoration: none;
  background-color: var(--dl-color-grays-black100);
}
.archivos-navlink17:hover {
  opacity: 0.8;
  transform: scale(0.8);
  transition: 0.5s;
}
.archivos-cuadrotodoslosnumeros {
  width: auto;
  height: 100%;
  display: flex;
  align-items: stretch;
  padding-left: var(--dl-space-space-sixunits);
  flex-direction: row;
  justify-content: center;
}
.archivos-ladoizquierdo2 {
  flex: 0 0 auto;
  width: auto;
  height: 70%;
  display: flex;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: space-between;
  background-color: var(--dl-color-scheme-white);
}
.archivos-nombre2 {
  color: black;
  font-size: 36px;
  font-style: normal;
  text-align: center;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 1.15;
  padding-bottom: var(--dl-space-space-twounits);
}
.archivos-navlink18 {
  color: var(--dl-color-scheme-white);
  overflow: hidden;
  font-size: 26px;
  text-align: center;
  transition: 0.5s;
  border-width: 0px;
  border-radius: 0px;
  text-decoration: none;
  background-color: var(--dl-color-grays-black100);
}
.archivos-navlink18:hover {
  opacity: 0.8;
  transform: scale(0.8);
  transition: 0.5s;
}
.archivos-ladoderecho2 {
  width: auto;
  height: auto;
  display: flex;
  align-items: stretch;
}
.archivos-contenedordecoraciones2 {
  flex: 1;
  display: flex;
  align-self: flex-start;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
}
.archivos-contenedorcuadros3 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.archivos-cuadrogrande2 {
  flex: 0 0 auto;
  width: 108px;
  height: 108px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: black;
}
.archivos-cuadropequeo2 {
  flex: 0 0 auto;
  width: 54px;
  height: 54px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-grays-500);
}
.archivos-footer {
  width: 100%;
  display: flex;
  align-items: stretch;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: space-between;
  background-color: #000000;
}
.archivos-contenedorizquierda {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  transition: 0.5s;
  align-items: flex-start;
  padding-right: var(--dl-space-space-sixunits);
  justify-content: flex-start;
}
.archivos-contenedorlogos {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.archivos-image6 {
  width: 400px;
  cursor: pointer;
  object-fit: cover;
  transition: 0.5s;
  text-decoration: none;
}
.archivos-image6:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: scale(0.9);
  transition: 0.5s;
}
.archivos-contenedorlogoscomezu {
  flex: 0 0 auto;
  height: auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  justify-content: center;
}
.archivos-link19 {
  display: contents;
}
.archivos-image7 {
  width: 180px;
  cursor: pointer;
  object-fit: cover;
  transition: 0.5s;
  text-decoration: none;
}
.archivos-image7:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: scale(0.9);
  transition: 0.5s;
}
.archivos-link20 {
  display: contents;
}
.archivos-image8 {
  width: 180px;
  cursor: pointer;
  object-fit: cover;
  transition: 0.5s;
  text-decoration: none;
}
.archivos-image8:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: scale(0.9);
  transition: 0.5s;
}
.archivos-contenedorcentro {
  gap: 140px;
  width: 330px;
  display: flex;
  align-self: stretch;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: row;
}

.archivos-contenedormenu {
  width: 330px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.archivos-header2 {
  color: rgb(255, 255, 255);
  width: 330px;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  padding-bottom: var(--dl-space-space-twounits);
}
.archivos-link21 {
  color: rgb(255, 255, 255);
  width: 300px;
  font-size: 30px;
  transition: 0.5s;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.archivos-link21:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: translate(5px,0px);
  transition: 0.5s;
}
.archivos-navlink19 {
  display: contents;
}
.archivos-link22 {
  color: rgb(255, 255, 255);
  width: 300px;
  font-size: 30px;
  transition: 0.5s;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.archivos-link22:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: translate(5px,0px);
  transition: 0.5s;
}
.archivos-navlink20 {
  display: contents;
}
.archivos-link23 {
  color: rgb(255, 255, 255);
  width: 300px;
  font-size: 30px;
  transition: 0.5s;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.archivos-link23:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: translate(5px,0px);
  transition: 0.5s;
}
.archivos-navlink21 {
  display: contents;
}
.archivos-link24 {
  color: rgb(255, 255, 255);
  width: 300px;
  font-size: 30px;
  transition: 0.5s;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.archivos-link24:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: translate(5px,0px);
  transition: 0.5s;
}
.archivos-navlink22 {
  display: contents;
}
.archivos-link25 {
  color: rgb(255, 255, 255);
  width: 300px;
  font-size: 30px;
  transition: 0.5s;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.archivos-link25:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: translate(5px,0px);
  transition: 0.5s;
}
.archivos-navlink23 {
  display: contents;
}
.archivos-link26 {
  color: rgb(255, 255, 255);
  width: 300px;
  font-size: 30px;
  transition: 0.5s;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.archivos-link26:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: translate(5px,0px);
  transition: 0.5s;
}
.archivos-navlink24 {
  display: contents;
}
.archivos-link27 {
  color: rgb(255, 255, 255);
  width: 300px;
  font-size: 30px;
  transition: 0.5s;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.archivos-link27:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: translate(5px,0px);
  transition: 0.5s;
}
.archivos-contenedorderecho {
  gap: 140px;
  width: 700px;
  display: flex;
  align-self: stretch;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: row;
}

.archivos-contenedorubicacion {
  flex: 0 0 auto;
  width: 700px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.archivos-header3 {
  color: rgb(255, 255, 255);
  width: 474px;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  padding-bottom: var(--dl-space-space-twounits);
}
.archivos-link28 {
  display: contents;
}
.archivos-link29 {
  color: rgb(255, 255, 255);
  width: 700px;
  font-size: 30px;
  transition: 0.5s;
  padding-bottom: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.archivos-link29:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: translateX(5px);
  transition: 0.5s;
}
.archivos-link30 {
  color: rgb(255, 255, 255);
  width: 700px;
  font-size: 30px;
  padding-bottom: var(--dl-space-space-threeunits);
}
.archivos-link31 {
  color: rgb(255, 255, 255);
  width: 700px;
  font-size: 30px;
}
@media(max-width: 1600px) {
  .archivos-container {
    background-color: transparent;
  }
  .archivos-seccionprincipal {
    height: 100vh;
  }
  .archivos-link12 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .archivos-link13 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .archivos-link14 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .archivos-link15 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .archivos-link16 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .archivos-link17 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .archivos-link18 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .archivos-text10 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .archivos-contenido {
    padding: var(--dl-space-space-sixunits);
  }
  .archivos-footer {
    width: 100%;
    padding: var(--dl-space-space-sixunits);
  }
  .archivos-contenedorizquierda {
    padding-right: 0px;
  }
  .archivos-contenedorlogos {
    padding-right: 0px;
  }
  .archivos-image6 {
    width: 427px;
  }
  .archivos-contenedorlogoscomezu {
    width: auto;
    align-self: stretch;
    justify-content: center;
  }
  .archivos-contenedorcentro {
    width: 230px;
    align-self: stretch;
  }
  .archivos-header2 {
    width: 230px;
    font-size: 35px;
  }
  .archivos-link21 {
    width: 230px;
    font-size: 20px;
  }
  .archivos-link22 {
    width: 230px;
    font-size: 20px;
  }
  .archivos-link23 {
    width: 230px;
    font-size: 20px;
  }
  .archivos-link24 {
    width: 230px;
    font-size: 20px;
  }
  .archivos-link25 {
    width: 230px;
    font-size: 20px;
  }
  .archivos-link26 {
    width: 230px;
    font-size: 20px;
  }
  .archivos-link27 {
    width: 230px;
    font-size: 20px;
  }
  .archivos-contenedorderecho {
    width: 306px;
    align-self: stretch;
  }
  .archivos-contenedorubicacion {
    width: 290px;
  }
  .archivos-header3 {
    width: 200px;
    font-size: 35px;
  }
  .archivos-link29 {
    width: 280px;
    font-size: 20px;
    margin-right: 0px;
  }
  .archivos-link30 {
    width: 280px;
    font-size: 20px;
  }
  .archivos-link31 {
    width: 280px;
    font-size: 20px;
  }
}
@media(max-width: 1200px) {
  .archivos-container {
    background-color: transparent;
  }
  .archivos-seccionprincipal {
    height: 100vh;
  }
  .archivos-botoninicio {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-small);
    font-size: 10px;
  }
  .archivos-link12 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .archivos-botonsobrerevista {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-small);
    font-size: 10px;
  }
  .archivos-link13 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .archivos-botoncomiteeditorial {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-small);
    font-size: 10px;
  }
  .archivos-link14 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .archivos-botonarchivos {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-small);
    font-size: 10px;
  }
  .archivos-link15 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .archivos-botonpoliticaeditorial {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-small);
    font-size: 10px;
  }
  .archivos-link16 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .archivos-botongaleria {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-small);
    font-size: 10px;
  }
  .archivos-link17 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .archivos-botoncontacto {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-small);
    font-size: 10px;
  }
  .archivos-link18 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .archivos-text10 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .archivos-image4 {
    width: 25%;
  }
  .archivos-contenido {
    width: 100%;
    padding: var(--dl-space-space-threeunits);
  }
  .archivos-contenedorcuadros1 {
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .archivos-cuadroultimovolumen {
    padding-right: var(--dl-space-space-threeunits);
  }
  .archivos-cuadrotodoslosnumeros {
    padding-left: var(--dl-space-space-threeunits);
  }
  .archivos-footer {
    width: 100%;
    padding: var(--dl-space-space-fiveunits);
  }
  .archivos-contenedorizquierda {
    width: 240px;
    padding-right: 0px;
  }
  .archivos-contenedorlogos {
    width: 280px;
    padding-right: 0px;
  }
  .archivos-image6 {
    width: 280px;
  }
  .archivos-contenedorlogoscomezu {
    width: auto;
    align-self: stretch;
    justify-content: center;
  }
  .archivos-image7 {
    width: 120px;
  }
  .archivos-image8 {
    width: 120px;
  }
  .archivos-contenedorcentro {
    width: 200px;
    align-self: stretch;
    padding-right: 0px;
  }
  .archivos-contenedormenu {
    width: 200px;
  }
  .archivos-header2 {
    width: 180px;
  }
  .archivos-link21 {
    color: rgb(255, 255, 255);
    width: 200px;
    font-size: 20px;
  }
  .archivos-link22 {
    color: rgb(255, 255, 255);
    width: 200px;
    font-size: 20px;
  }
  .archivos-link23 {
    color: rgb(255, 255, 255);
    width: 200px;
    font-size: 20px;
  }
  .archivos-link24 {
    color: rgb(255, 255, 255);
    width: 200px;
    font-size: 20px;
  }
  .archivos-link25 {
    color: rgb(255, 255, 255);
    width: 200px;
    font-size: 20px;
  }
  .archivos-link26 {
    color: rgb(255, 255, 255);
    width: 200px;
    font-size: 20px;
  }
  .archivos-link27 {
    color: rgb(255, 255, 255);
    width: 200px;
    font-size: 20px;
  }
  .archivos-contenedorderecho {
    width: 320px;
    align-self: stretch;
  }
  .archivos-contenedorubicacion {
    width: 300px;
  }
  .archivos-header3 {
    width: 320px;
  }
  .archivos-link29 {
    color: rgb(255, 255, 255);
    width: 300px;
    font-size: 20px;
  }
  .archivos-link30 {
    color: rgb(255, 255, 255);
    width: 320px;
    font-size: 20px;
  }
  .archivos-link31 {
    color: rgb(255, 255, 255);
    width: 320px;
    font-size: 20px;
  }
}
@media(max-width: 991px) {
  .archivos-container {
    background-color: transparent;
  }
  .archivos-seccionprincipal {
    flex: 1;
  }
  .archivos-barrasuperior {
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: row;
  }
  .archivos-image1 {
    width: 80px;
  }
  .archivos-image2 {
    width: auto;
    height: 100px;
  }
  .archivos-image3 {
    width: 80px;
  }
  .archivos-barrainferior {
    height: 100px;
    align-self: center;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-unit);
    justify-content: center;
  }
  .archivos-botonmenu {
    display: flex;
    align-self: stretch;
  }
  .archivos-icon1 {
    fill: #000000;
  }
  .archivos-botoninicio {
    display: none;
  }
  .archivos-link12 {
    display: none;
  }
  .archivos-botonsobrerevista {
    display: none;
  }
  .archivos-link13 {
    display: none;
  }
  .archivos-botoncomiteeditorial {
    display: none;
  }
  .archivos-link14 {
    display: none;
  }
  .archivos-botonarchivos {
    display: none;
  }
  .archivos-link15 {
    display: none;
  }
  .archivos-botonpoliticaeditorial {
    display: none;
  }
  .archivos-link16 {
    display: none;
  }
  .archivos-botongaleria {
    display: none;
  }
  .archivos-link17 {
    display: none;
  }
  .archivos-botoncontacto {
    display: none;
  }
  .archivos-link18 {
    display: none;
  }
  .archivos-text10 {
    display: none;
  }
  .archivos-image4 {
    width: 40%;
  }
  .archivos-marco-para-links {
    align-self: stretch;
    padding-left: var(--dl-space-space-unit);
  }
  .archivos-text12 {
    font-size: 30px;
  }
  .archivos-text13 {
    font-size: 30px;
  }
  .archivos-text14 {
    font-size: 30px;
  }
  .archivos-text16 {
    font-size: 30px;
  }
  .archivos-text17 {
    font-size: 30px;
  }
  .archivos-text18 {
    font-size: 30px;
  }
  .archivos-text19 {
    font-size: 30px;
  }
  .archivos-text20 {
    font-size: 30px;
  }
  .archivos-secciontitulo {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    padding: var(--dl-space-space-threeunits);
  }
  .archivos-header1 {
    font-size: 50px;
  }
  .archivos-text21 {
    font-size: 50px;
  }
  .archivos-contenido {
    padding: var(--dl-space-space-threeunits);
  }
  .archivos-contenedorcuadros1 {
    flex-direction: column;
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .archivos-cuadroultimovolumen {
    align-self: flex-start;
    padding-left: var(--dl-space-space-fourunits);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .archivos-ladoderecho1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .archivos-nombre1 {
    font-size: 26px;
  }
  .archivos-cuadrotodoslosnumeros {
    align-self: flex-end;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: 0px;
    padding-right: var(--dl-space-space-fourunits);
  }
  .archivos-ladoizquierdo2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .archivos-nombre2 {
    font-size: 26px;
  }
  .archivos-text23 {
    font-size: 26px;
  }
  .archivos-footer {
    gap: 100px;
    padding: var(--dl-space-space-threeunits);
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .archivos-image6 {
    width: 450px;
  }
  .archivos-image7 {
    width: 180px;
    height: auto;
  }
  .archivos-image8 {
    width: 180px;
    height: auto;
  }
  .archivos-contenedorcentro {
    gap: var(--dl-space-space-twounits);
    width: 520px;
    height: 309px;
    flex-direction: column;
  }
  .archivos-contenedormenu {
    width: 100%;
  }
  .archivos-header2 {
    color: rgb(255, 255, 255);
    width: 550px;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
  }
  .archivos-link21 {
    color: rgb(255, 255, 255);
    width: 550px;
    font-size: 20px;
  }
  .archivos-link22 {
    color: rgb(255, 255, 255);
    width: 550px;
    font-size: 20px;
  }
  .archivos-link23 {
    color: rgb(255, 255, 255);
    width: 550px;
    font-size: 20px;
  }
  .archivos-link24 {
    color: rgb(255, 255, 255);
    width: 550px;
    font-size: 20px;
  }
  .archivos-link25 {
    color: rgb(255, 255, 255);
    width: 550px;
    font-size: 20px;
  }
  .archivos-link26 {
    color: rgb(255, 255, 255);
    width: 550px;
    font-size: 20px;
  }
  .archivos-link27 {
    color: rgb(255, 255, 255);
    width: 550px;
    font-size: 20px;
  }
  .archivos-contenedorderecho {
    gap: var(--dl-space-space-twounits);
    width: 520px;
    height: 309px;
    flex-direction: column;
  }
  .archivos-contenedorubicacion {
    width: 100%;
  }
  .archivos-header3 {
    color: rgb(255, 255, 255);
    width: 550px;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
  }
  .archivos-link29 {
    color: rgb(255, 255, 255);
    width: 550px;
    font-size: 20px;
  }
  .archivos-link30 {
    color: rgb(255, 255, 255);
    width: 550px;
    font-size: 20px;
  }
  .archivos-link31 {
    color: rgb(255, 255, 255);
    width: 550px;
    font-size: 20px;
  }
}
@media(max-width: 767px) {
  .archivos-seccionprincipal {
    height: 100vh;
  }
  .archivos-barrasuperior {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-unit);
  }
  .archivos-image1 {
    width: 60px;
  }
  .archivos-image2 {
    width: auto;
    height: 100px;
  }
  .archivos-image3 {
    width: 60px;
  }
  .archivos-barrainferior {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-unit);
  }
  .archivos-botonmenu {
    display: flex;
  }
  .archivos-icon1 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .archivos-image4 {
    width: 50%;
  }
  .archivos-text12 {
    font-size: 30px;
  }
  .archivos-text13 {
    font-size: 30px;
  }
  .archivos-text14 {
    font-size: 30px;
  }
  .archivos-text16 {
    font-size: 30px;
  }
  .archivos-text17 {
    font-size: 30px;
  }
  .archivos-text18 {
    font-size: 30px;
  }
  .archivos-text19 {
    font-size: 30px;
  }
  .archivos-text20 {
    font-size: 30px;
  }
  .archivos-header1 {
    font-size: 30px;
    line-height: 36px;
  }
  .archivos-text21 {
    font-size: 30px;
    line-height: 36px;
  }
  .archivos-contenido {
    gap: var(--dl-space-space-threeunits);
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .archivos-cuadroultimovolumen {
    width: auto;
    height: 100%;
    align-self: center;
    padding-left: 0px;
    padding-bottom: var(--dl-space-space-sixunits);
  }
  .archivos-ladoizquierdo1 {
    width: 100%;
    height: 100%;
    padding-right: 0px;
  }
  .archivos-ladoderecho1 {
    width: 100%;
    height: auto;
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .archivos-cuadrotodoslosnumeros {
    align-self: center;
    padding-top: 0px;
    padding-right: 0px;
  }
  .archivos-ladoizquierdo2 {
    width: 100%;
    height: auto;
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .archivos-ladoderecho2 {
    width: 100%;
    height: 100%;
    padding-right: 0px;
  }
  .archivos-footer {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .archivos-image6 {
    width: 372px;
    height: auto;
  }
  .archivos-contenedorcentro {
    width: 480px;
    height: 100%;
  }
  .archivos-contenedormenu {
    width: 480;
    height: 100%;
  }
  .archivos-header2 {
    width: 480px;
    height: 100%;
    font-size: 40px;
  }
  .archivos-link21 {
    width: 480px;
    height: 100%;
    font-size: 25px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .archivos-link22 {
    width: 480px;
    height: 100%;
    font-size: 25px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .archivos-link23 {
    width: 480px;
    height: 100%;
    font-size: 25px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .archivos-link24 {
    width: 480px;
    height: 100%;
    font-size: 25px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .archivos-link25 {
    width: 480px;
    height: 100%;
    font-size: 25px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .archivos-link26 {
    width: 480px;
    height: 100%;
    font-size: 25px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .archivos-link27 {
    width: 480px;
    height: 100%;
    font-size: 25px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .archivos-contenedorderecho {
    width: 480px;
    height: 100%;
  }
  .archivos-contenedorubicacion {
    width: 480;
    height: 100%;
  }
  .archivos-header3 {
    width: 480px;
    height: 100%;
    font-size: 40px;
  }
  .archivos-link29 {
    width: 480px;
    height: 100%;
    font-size: 25px;
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .archivos-link30 {
    width: 480px;
    height: 100%;
    font-size: 25px;
  }
  .archivos-link31 {
    width: 480px;
    height: 100%;
    font-size: 25px;
  }
}
@media(max-width: 479px) {
  .archivos-container {
    background-color: transparent;
  }
  .archivos-seccionprincipal {
    height: 100vh;
  }
  .archivos-barrasuperior {
    height: auto;
  }
  .archivos-image1 {
    width: 40px;
  }
  .archivos-image2 {
    width: auto;
    height: 60px;
  }
  .archivos-image3 {
    width: 40px;
  }
  .archivos-barrainferior {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-unit);
  }
  .archivos-menumovil {
    padding: var(--dl-space-space-twounits);
  }
  .archivos-image4 {
    width: 70%;
  }
  .archivos-icon3 {
    align-self: center;
  }
  .archivos-text12 {
    font-size: 30px;
  }
  .archivos-text13 {
    font-size: 30px;
  }
  .archivos-text14 {
    font-size: 30px;
  }
  .archivos-text16 {
    font-size: 30px;
  }
  .archivos-text17 {
    font-size: 30px;
  }
  .archivos-text18 {
    font-size: 30px;
  }
  .archivos-text19 {
    font-size: 30px;
  }
  .archivos-text20 {
    font-size: 30px;
  }
  .archivos-header1 {
    color: var(--dl-color-gray-white);
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
  }
  .archivos-text21 {
    color: var(--dl-color-gray-white);
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
  }
  .archivos-contenido {
    padding: var(--dl-space-space-twounits);
  }
  .archivos-contenedorcuadros1 {
    width: auto;
  }
  .archivos-cuadroultimovolumen {
    align-self: flex-start;
  }
  .archivos-ladoizquierdo1 {
    width: 100%;
  }
  .archivos-cuadropequeo1 {
    width: 36px;
    height: 36px;
  }
  .archivos-cuadrogrande1 {
    width: 75px;
    height: 75px;
  }
  .archivos-ladoderecho1 {
    width: auto;
    height: auto;
  }
  .archivos-cuadrotodoslosnumeros {
    align-self: flex-end;
  }
  .archivos-ladoizquierdo2 {
    width: auto;
    height: auto;
  }
  .archivos-ladoderecho2 {
    width: 100%;
  }
  .archivos-cuadrogrande2 {
    width: 75px;
    height: 75px;
  }
  .archivos-cuadropequeo2 {
    width: 36px;
    height: 36px;
  }
  .archivos-footer {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .archivos-image6 {
    width: 300px;
    height: auto;
  }
  .archivos-image7 {
    width: 140px;
  }
  .archivos-image8 {
    width: 140px;
  }
  .archivos-contenedorcentro {
    width: 340px;
    height: 378px;
  }
  .archivos-contenedormenu {
    width: 340px;
  }
  .archivos-header2 {
    color: rgb(255, 255, 255);
    width: 340px;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
  }
  .archivos-link21 {
    color: rgb(255, 255, 255);
    width: 340px;
    font-size: 20px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .archivos-link22 {
    color: rgb(255, 255, 255);
    width: 340px;
    font-size: 20px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .archivos-link23 {
    color: rgb(255, 255, 255);
    width: 340px;
    font-size: 20px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .archivos-link24 {
    color: rgb(255, 255, 255);
    width: 340px;
    font-size: 20px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .archivos-link25 {
    color: rgb(255, 255, 255);
    width: 340px;
    font-size: 20px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .archivos-link26 {
    color: rgb(255, 255, 255);
    width: 340px;
    font-size: 20px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .archivos-link27 {
    color: rgb(255, 255, 255);
    width: 340px;
    font-size: 20px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .archivos-contenedorderecho {
    width: 300px;
    height: 378px;
  }
  .archivos-contenedorubicacion {
    width: 300px;
  }
  .archivos-header3 {
    color: rgb(255, 255, 255);
    width: 300px;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
  }
  .archivos-link29 {
    color: rgb(255, 255, 255);
    width: 300px;
    font-size: 20px;
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .archivos-link30 {
    color: rgb(255, 255, 255);
    width: 300px;
    font-size: 20px;
  }
  .archivos-link31 {
    color: rgb(255, 255, 255);
    width: 300px;
    font-size: 20px;
  }
}
