.slidecontenedordoctores-wrapper {
  display: contents;
}
.slidecontenedordoctores-slide {
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
}
.slidecontenedordoctores-max-width {
  height: 680px;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.slidecontenedordoctores-ladoizquierdo {
  width: 45%;
  height: 80%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.slidecontenedordoctores-contenedordecoraciones {
  flex: 1;
  display: flex;
  align-self: flex-end;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
}
.slidecontenedordoctores-contenedorcuadros {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.slidecontenedordoctores-cuadropequeo {
  flex: 0 0 auto;
  width: 54px;
  height: 54px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-grays-500);
}
.slidecontenedordoctores-cuadrogrande {
  flex: 0 0 auto;
  width: 108px;
  height: 108px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: black;
}
.slidecontenedordoctores-contenedorimagen {
  display: flex;
  overflow: hidden;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}
.slidecontenedordoctores-image1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}
.slidecontenedordoctores-image1:hover {
  transform: scale(1.05);
  transition: 0.5s;
}
.slidecontenedordoctores-ladoderecho {
  flex: 0 0 auto;
  width: 50%;
  height: 80%;
  display: flex;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: center;
  background-color: var(--dl-color-scheme-white);
}
.slidecontenedordoctores-nombre {
  fill: black;
  color: black;
  font-size: 36px;
  align-self: flex-start;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 1.15;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.slidecontenedordoctores-rol {
  fill: black;
  color: black;
  font-size: 26px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 36px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.slidecontenedordoctores-contenedoricono {
  width: auto;
  height: auto;
  display: flex;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.slidecontenedordoctores-link {
  display: contents;
}
.slidecontenedordoctores-image2 {
  width: 15%;
  display: block;
  align-self: center;
  object-fit: cover;
  transition: 0.5s;
  text-decoration: none;
}
.slidecontenedordoctores-image2:hover {
  cursor: pointer;
  transform: scale(0.8);
  transition: 0.5s;
}
.slidecontenedordoctores-controlesslider {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: flex-start;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: row;
}
.slidecontenedordoctores-botonizquierda {
  flex: 0 0 auto;
  width: 100%;
  height: 108px;
  display: flex;
  max-width: 108px;
  max-height: 108px;
  transition: 0.5s;
  align-items: center;
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.slidecontenedordoctores-botonizquierda:hover {
  cursor: pointer;
  transform: scale(0.8);
  transition: 0.5s;
}
.slidecontenedordoctores-image3 {
  width: 100%;
  object-fit: cover;
}
.slidecontenedordoctores-botonderecha {
  flex: 0 0 auto;
  width: 100%;
  height: 108px;
  display: flex;
  max-width: 108px;
  max-height: 108px;
  transition: 0.5s;
  align-items: center;
  padding-left: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.slidecontenedordoctores-botonderecha:hover {
  cursor: pointer;
  transform: scale(0.8);
  transition: 0.5s;
}
.slidecontenedordoctores-image4 {
  width: 100%;
  object-fit: cover;
}





@media(max-width: 1200px) {
  .slidecontenedordoctores-contenedoricono {
    width: auto;
    height: auto;
  }
  .slidecontenedordoctores-image2 {
    width: 15%;
  }
}
@media(max-width: 991px) {
  .slidecontenedordoctores-contenedoricono {
    width: auto;
    justify-content: flex-start;
  }
  .slidecontenedordoctores-image2 {
    width: 20%;
  }
}
@media(max-width: 767px) {
  .slidecontenedordoctores-max-width {
    height: 100%;
    flex-direction: column;
  }
  .slidecontenedordoctores-ladoizquierdo {
    width: 100%;
    height: 100%;
    padding-right: 0px;
  }
  .slidecontenedordoctores-contenedorimagen {
    width: 100%;
  }
  .slidecontenedordoctores-image1 {
    max-width: 700px;
  }
  .slidecontenedordoctores-ladoderecho {
    width: 100%;
    height: auto;
  }
  .slidecontenedordoctores-contenedoricono {
    width: 70%;
  }
  .slidecontenedordoctores-image2 {
    width: 20%;
  }
}
@media(max-width: 479px) {
  .slidecontenedordoctores-ladoizquierdo {
    width: 100%;
  }
  .slidecontenedordoctores-cuadropequeo {
    width: 36px;
    height: 36px;
  }
  .slidecontenedordoctores-cuadrogrande {
    width: 75px;
    height: 75px;
  }
  .slidecontenedordoctores-ladoderecho {
    width: auto;
    height: auto;
  }
  .slidecontenedordoctores-image2 {
    width: 30%;
  }
  .slidecontenedordoctores-botonizquierda {
    height: 75px;
    max-width: 75px;
    max-height: 75px;
  }
  .slidecontenedordoctores-botonderecha {
    height: 75px;
    max-width: 75px;
    max-height: 75px;
  }
}

.comite-editorial-container {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: whitesmoke;
}
.comite-editorial-barrasuperior {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  z-index: 100;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-scheme-white);
}
.comite-editorial-logoizquierda {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  justify-content: center;
}
.comite-editorial-link10 {
  display: contents;
}
.comite-editorial-image1 {
  width: 100px;
  object-fit: cover;
  transition: 0.5s;
  animation-name: fadeInRight;
  animation-delay: 0s;
  text-decoration: none;
  animation-duration: 700ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.comite-editorial-image1:hover {
  cursor: pointer;
  transform: scale(0.8);
  transition: 0.5s;
}
.comite-editorial-logocentro {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  justify-content: center;
}
.comite-editorial-image2 {
  width: 400px;
  height: 100px;
  object-fit: cover;
  transition: 0.5s;
  animation-name: fadeInDown;
  animation-delay: 0s;
  text-decoration: none;
  animation-duration: 700ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.comite-editorial-image2:hover {
  cursor: pointer;
  transform: scale(0.9);
  transition: 0.5s;
}
.comite-editorial-logoderecha {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  justify-content: center;
}
.comite-editorial-link11 {
  display: contents;
}
.comite-editorial-image3 {
  width: 100px;
  object-fit: cover;
  transition: 0.5s;
  animation-name: fadeInLeft;
  animation-delay: 0s;
  text-decoration: none;
  animation-duration: 700ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.comite-editorial-image3:hover {
  cursor: pointer;
  transform: scale(0.8);
  transition: 0.5s;
}
.comite-editorial-barrainferior {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  z-index: 1002;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 0px;
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  padding-bottom: 0px;
  justify-content: space-between;
  background-color: var(--dl-color-scheme-white);
}
.comite-editorial-botonmenu {
  display: none;
  transition: 0.5s;
  align-items: center;
  justify-content: center;
}
.comite-editorial-botonmenu:hover {
  cursor: pointer;
  transform: translate(0px,5px);
}
.comite-editorial-icon1 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.comite-editorial-botoninicio {
  flex: 0 0 auto;
  width: var(--dl-size-size-large);
  cursor: pointer;
  height: var(--dl-size-size-medium);
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  transition: 0.5s;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #ffffff;
}
.comite-editorial-botoninicio:hover {
  z-index: 10001;
  transform: translateY(10px);
  transition: 0.5s;
  background-color: whitesmoke;
  border-bottom-width: 8px;
}
.comite-editorial-link12 {
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding-left: 0px;
}
.comite-editorial-botonsobrerevista {
  flex: 0 0 auto;
  width: var(--dl-size-size-large);
  cursor: pointer;
  height: var(--dl-size-size-medium);
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  transition: 0.5s;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #ffffff;
}
.comite-editorial-botonsobrerevista:hover {
  z-index: 10001;
  transform: translateY(10px);
  transition: 0.5s;
  background-color: whitesmoke;
  border-bottom-width: 8px;
}
.comite-editorial-link13 {
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding-left: 0px;
  text-decoration: none;
}
.comite-editorial-botoncomiteeditorial {
  flex: 0 0 auto;
  width: var(--dl-size-size-large);
  cursor: pointer;
  height: var(--dl-size-size-medium);
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  transition: 0.5s;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #ffffff;
}
.comite-editorial-botoncomiteeditorial:hover {
  z-index: 10001;
  transform: translateY(10px);
  transition: 0.5s;
  background-color: whitesmoke;
  border-bottom-width: 8px;
}
.comite-editorial-link14 {
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding-left: 0px;
  text-decoration: none;
}
.comite-editorial-botonarchivos {
  flex: 0 0 auto;
  width: var(--dl-size-size-large);
  cursor: pointer;
  height: var(--dl-size-size-medium);
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  transition: 0.5s;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
.comite-editorial-botonarchivos:hover {
  z-index: 10001;
  transform: translateY(10px);
  transition: 0.5s;
  background-color: whitesmoke;
  border-bottom-width: 8px;
}
.comite-editorial-link15 {
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding-left: 0px;
  text-decoration: none;
}
.comite-editorial-botonpoliticaeditorial {
  flex: 0 0 auto;
  width: var(--dl-size-size-large);
  cursor: pointer;
  height: var(--dl-size-size-medium);
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  transition: 0.5s;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #ffffff;
}
.comite-editorial-botonpoliticaeditorial:hover {
  z-index: 10001;
  transform: translateY(10px);
  transition: 0.5s;
  background-color: whitesmoke;
  border-bottom-width: 8px;
}
.comite-editorial-link16 {
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding-left: 0px;
  text-decoration: none;
}
.comite-editorial-botongaleria {
  flex: 0 0 auto;
  width: var(--dl-size-size-large);
  cursor: pointer;
  height: var(--dl-size-size-medium);
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  transition: 0.5s;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
.comite-editorial-botongaleria:hover {
  z-index: 10001;
  transform: translateY(10px);
  transition: 0.5s;
  background-color: whitesmoke;
  border-bottom-width: 8px;
}
.comite-editorial-link17 {
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding-left: 0px;
  text-decoration: none;
}
.comite-editorial-botoncontacto {
  flex: 0 0 auto;
  width: var(--dl-size-size-large);
  cursor: pointer;
  height: var(--dl-size-size-medium);
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  transition: 0.5s;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
.comite-editorial-botoncontacto:hover {
  z-index: 10001;
  transform: translateY(10px);
  transition: 0.5s;
  background-color: whitesmoke;
  border-bottom-width: 8px;
}
.comite-editorial-link18 {
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding-left: 0px;
  text-decoration: none;
}
.comite-editorial-menumovil {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  position: fixed;
  transform: translateX(100%);
  overflow-y: auto;
  transition: 0.5s;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
  background-color: var(--dl-color-scheme-white);
}
.comite-editorial-marco {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.comite-editorial-logorevista {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.comite-editorial-image4 {
  width: 20%;
}
.comite-editorial-botoncerrar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.comite-editorial-icon3 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  transition: 0.5s;
}
.comite-editorial-icon3:hover {
  cursor: pointer;
  transform: translateX(-10px) scale(1.1);
  transition: 0.5s;
}
.comite-editorial-marco-para-links {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.comite-editorial-text12 {
  transition: 0.5s;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.comite-editorial-text12:hover {
  cursor: pointer;
  transform: translateX(10px) scale(1.1);
  transition: 0.5s;
}
.comite-editorial-text13 {
  transition: 0.5s;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.comite-editorial-text13:hover {
  cursor: pointer;
  transform: translateX(10px) scale(1.1);
  transition: 0.5s;
}
.comite-editorial-text14:hover {
  cursor: pointer;
  transform: translateX(10px) scale(1.1);
  transition: 0.5s;
}
.comite-editorial-text16 {
  transition: 0.5s;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.comite-editorial-text16:hover {
  cursor: pointer;
  transform: translateX(10px) scale(1.1);
  transition: 0.5s;
}
.comite-editorial-text17 {
  transition: 0.5s;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.comite-editorial-text17:hover {
  cursor: pointer;
  transform: translateX(10px) scale(1.1);
  transition: 0.5s;
}
.comite-editorial-text18 {
  transition: 0.5s;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.comite-editorial-text18:hover {
  cursor: pointer;
  transform: translateX(10px) scale(1.1);
  transition: 0.5s;
}
.comite-editorial-text19 {
  transition: 0.5s;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.comite-editorial-text19:hover {
  cursor: pointer;
  transform: translateX(10px) scale(1.1);
  transition: 0.5s;
}
.comite-editorial-text20 {
  transition: 0.5s;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.comite-editorial-text20:hover {
  cursor: pointer;
  transform: translateX(10px) scale(1.1);
  transition: 0.5s;
}
.comite-editorial-comiteeditorial {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  background-color: whitesmoke;
}
.comite-editorial-titulo {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.comite-editorial-text21 {
  font-size: 66px;
  max-width: 600px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.comite-editorial-sliderdoctores {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  transition: 0.5s;
  align-items: stretch;
  flex-direction: row;
}
.comite-editorial-footer {
  width: 100%;
  display: flex;
  align-items: stretch;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: space-between;
  background-color: #000000;
}
.comite-editorial-contenedorizquierda {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  transition: 0.5s;
  align-items: flex-start;
  padding-right: var(--dl-space-space-sixunits);
  justify-content: flex-start;
}
.comite-editorial-contenedorlogos {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.comite-editorial-image5 {
  width: 400px;
  cursor: pointer;
  object-fit: cover;
  transition: 0.5s;
  text-decoration: none;
}
.comite-editorial-image5:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: scale(0.9);
  transition: 0.5s;
}
.comite-editorial-contenedorlogoscomezu {
  flex: 0 0 auto;
  height: auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  justify-content: center;
}
.comite-editorial-link19 {
  display: contents;
}
.comite-editorial-image6 {
  width: 180px;
  cursor: pointer;
  object-fit: cover;
  transition: 0.5s;
  text-decoration: none;
}
.comite-editorial-image6:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: scale(0.9);
  transition: 0.5s;
}
.comite-editorial-link20 {
  display: contents;
}
.comite-editorial-image7 {
  width: 180px;
  cursor: pointer;
  object-fit: cover;
  transition: 0.5s;
  text-decoration: none;
}
.comite-editorial-image7:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: scale(0.9);
  transition: 0.5s;
}
.comite-editorial-contenedorcentro {
  gap: 140px;
  width: 330px;
  display: flex;
  align-self: stretch;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: row;
}

.comite-editorial-contenedormenu {
  width: 330px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.comite-editorial-header1 {
  color: rgb(255, 255, 255);
  width: 330px;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  padding-bottom: var(--dl-space-space-twounits);
}

.comite-editorial-navlink1 {
  display: contents;
}

.comite-editorial-link21 {
  color: rgb(255, 255, 255);
  width: 300px;
  font-size: 30px;
  transition: 0.5s;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.comite-editorial-link21:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: translate(5px,0px);
  transition: 0.5s;
}
.comite-editorial-link22 {
  color: rgb(255, 255, 255);
  width: 300px;
  font-size: 30px;
  transition: 0.5s;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.comite-editorial-link22:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: translate(5px,0px);
  transition: 0.5s;
}
.comite-editorial-link23 {
  color: rgb(255, 255, 255);
  width: 300px;
  font-size: 30px;
  transition: 0.5s;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.comite-editorial-link23:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: translate(5px,0px);
  transition: 0.5s;
}
.comite-editorial-link24 {
  color: rgb(255, 255, 255);
  width: 300px;
  font-size: 30px;
  transition: 0.5s;
  padding-bottom: var(--dl-space-space-unit);
}
.comite-editorial-link24:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: translate(5px,0px);
  transition: 0.5s;
}
.comite-editorial-link27 {
  color: rgb(255, 255, 255);
  width: 300px;
  font-size: 30px;
  transition: 0.5s;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.comite-editorial-link27:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: translate(5px,0px);
  transition: 0.5s;
}
.comite-editorial-link28 {
  color: rgb(255, 255, 255);
  width: 300px;
  font-size: 30px;
  transition: 0.5s;
  padding-bottom: var(--dl-space-space-unit);
}
.comite-editorial-link28:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: translate(5px,0px);
  transition: 0.5s;
}
.comite-editorial-link31 {
  color: rgb(255, 255, 255);
  width: 300px;
  font-size: 30px;
  transition: 0.5s;
  padding-bottom: var(--dl-space-space-unit);
}
.comite-editorial-link31:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: translate(5px,0px);
  transition: 0.5s;
}
.comite-editorial-contenedorderecho {
  gap: 140px;
  width: 700px;
  display: flex;
  align-self: stretch;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: row;
}

.comite-editorial-contenedorubicacion {
  flex: 0 0 auto;
  width: 700px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.comite-editorial-header2 {
  color: rgb(255, 255, 255);
  width: 474px;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  padding-bottom: var(--dl-space-space-twounits);
}
.comite-editorial-link34 {
  display: contents;
}
.comite-editorial-link35 {
  color: rgb(255, 255, 255);
  width: 700px;
  font-size: 30px;
  transition: 0.5s;
  padding-bottom: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.comite-editorial-link35:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: translateX(5px);
  transition: 0.5s;
}
.comite-editorial-link36 {
  color: rgb(255, 255, 255);
  width: 700px;
  font-size: 30px;
  padding-bottom: var(--dl-space-space-threeunits);
}
.comite-editorial-link37 {
  color: rgb(255, 255, 255);
  width: 700px;
  font-size: 30px;
}
@media(max-width: 1600px) {
  .comite-editorial-container {
    background-color: transparent;
  }
  .comite-editorial-link12 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .comite-editorial-link13 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .comite-editorial-link14 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .comite-editorial-link15 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .comite-editorial-link16 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .comite-editorial-link17 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .comite-editorial-link18 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .comite-editorial-text10 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .comite-editorial-comiteeditorial {
    padding: var(--dl-space-space-sixunits);
  }
  .comite-editorial-footer {
    width: 100%;
    padding: var(--dl-space-space-sixunits);
  }
  .comite-editorial-contenedorizquierda {
    padding-right: 0px;
  }
  .comite-editorial-contenedorlogos {
    padding-right: 0px;
  }
  .comite-editorial-image5 {
    width: 427px;
  }
  .comite-editorial-contenedorlogoscomezu {
    width: auto;
    align-self: stretch;
    justify-content: center;
  }
  .comite-editorial-contenedorcentro {
    width: 230px;
    align-self: stretch;
  }
  .comite-editorial-header1 {
    width: 230px;
    font-size: 35px;
  }
  .comite-editorial-link21 {
    width: 230px;
    font-size: 20px;
  }
  .comite-editorial-link22 {
    width: 230px;
    font-size: 20px;
  }
  .comite-editorial-link23 {
    width: 230px;
    font-size: 20px;
  }
  .comite-editorial-link24 {
    width: 230px;
    font-size: 20px;
  }
  .comite-editorial-link27 {
    width: 230px;
    font-size: 20px;
  }
  .comite-editorial-link28 {
    width: 230px;
    font-size: 20px;
  }
  .comite-editorial-link31 {
    width: 230px;
    font-size: 20px;
  }
  .comite-editorial-contenedorderecho {
    width: 306px;
    align-self: stretch;
  }
  .comite-editorial-contenedorubicacion {
    width: 290px;
  }
  .comite-editorial-header2 {
    width: 200px;
    font-size: 35px;
  }
  .comite-editorial-link35 {
    width: 280px;
    font-size: 20px;
    margin-right: 0px;
  }
  .comite-editorial-link36 {
    width: 280px;
    font-size: 20px;
  }
  .comite-editorial-link37 {
    width: 280px;
    font-size: 20px;
  }
}
@media(max-width: 1200px) {
  .comite-editorial-container {
    background-color: transparent;
  }
  .comite-editorial-botoninicio {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-small);
    font-size: 10px;
  }
  .comite-editorial-link12 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .comite-editorial-botonsobrerevista {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-small);
    font-size: 10px;
  }
  .comite-editorial-link13 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .comite-editorial-botoncomiteeditorial {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-small);
    font-size: 10px;
  }
  .comite-editorial-link14 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .comite-editorial-botonarchivos {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-small);
    font-size: 10px;
  }
  .comite-editorial-link15 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .comite-editorial-botonpoliticaeditorial {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-small);
    font-size: 10px;
  }
  .comite-editorial-link16 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .comite-editorial-botongaleria {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-small);
    font-size: 10px;
  }
  .comite-editorial-link17 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .comite-editorial-botoncontacto {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-small);
    font-size: 10px;
  }
  .comite-editorial-link18 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .comite-editorial-text10 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .comite-editorial-image4 {
    width: 25%;
  }
  .comite-editorial-comiteeditorial {
    width: 100%;
    padding: var(--dl-space-space-threeunits);
  }
  .comite-editorial-text21 {
    font-size: 46px;
  }
  .comite-editorial-footer {
    width: 100%;
    padding: var(--dl-space-space-fiveunits);
  }
  .comite-editorial-contenedorizquierda {
    width: 240px;
    padding-right: 0px;
  }
  .comite-editorial-contenedorlogos {
    width: 280px;
    padding-right: 0px;
  }
  .comite-editorial-image5 {
    width: 280px;
  }
  .comite-editorial-contenedorlogoscomezu {
    width: auto;
    align-self: stretch;
    justify-content: center;
  }
  .comite-editorial-image6 {
    width: 120px;
  }
  .comite-editorial-image7 {
    width: 120px;
  }
  .comite-editorial-contenedorcentro {
    width: 200px;
    align-self: stretch;
    padding-right: 0px;
  }
  .comite-editorial-contenedormenu {
    width: 200px;
  }
  .comite-editorial-header1 {
    width: 180px;
  }
  .comite-editorial-link21 {
    color: rgb(255, 255, 255);
    width: 200px;
    font-size: 20px;
  }
  .comite-editorial-link22 {
    color: rgb(255, 255, 255);
    width: 200px;
    font-size: 20px;
  }
  .comite-editorial-link23 {
    color: rgb(255, 255, 255);
    width: 200px;
    font-size: 20px;
  }
  .comite-editorial-link24 {
    color: rgb(255, 255, 255);
    width: 200px;
    font-size: 20px;
  }
  .comite-editorial-link27 {
    color: rgb(255, 255, 255);
    width: 200px;
    font-size: 20px;
  }
  .comite-editorial-link28 {
    color: rgb(255, 255, 255);
    width: 200px;
    font-size: 20px;
  }
  .comite-editorial-link31 {
    color: rgb(255, 255, 255);
    width: 200px;
    font-size: 20px;
  }
  .comite-editorial-contenedorderecho {
    width: 320px;
    align-self: stretch;
  }
  .comite-editorial-contenedorubicacion {
    width: 300px;
  }
  .comite-editorial-header2 {
    width: 320px;
  }
  .comite-editorial-link35 {
    color: rgb(255, 255, 255);
    width: 300px;
    font-size: 20px;
  }
  .comite-editorial-link36 {
    color: rgb(255, 255, 255);
    width: 320px;
    font-size: 20px;
  }
  .comite-editorial-link37 {
    color: rgb(255, 255, 255);
    width: 320px;
    font-size: 20px;
  }
}
@media(max-width: 991px) {
  .comite-editorial-container {
    background-color: transparent;
  }
  .comite-editorial-barrasuperior {
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: row;
  }
  .comite-editorial-image1 {
    width: 80px;
  }
  .comite-editorial-image2 {
    width: auto;
    height: 100px;
  }
  .comite-editorial-image3 {
    width: 80px;
  }
  .comite-editorial-barrainferior {
    height: 100px;
    align-self: center;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-unit);
    justify-content: center;
  }
  .comite-editorial-botonmenu {
    display: flex;
    align-self: stretch;
  }
  .comite-editorial-icon1 {
    fill: #000000;
  }
  .comite-editorial-botoninicio {
    display: none;
  }
  .comite-editorial-link12 {
    display: none;
  }
  .comite-editorial-botonsobrerevista {
    display: none;
  }
  .comite-editorial-link13 {
    display: none;
  }
  .comite-editorial-botoncomiteeditorial {
    display: none;
  }
  .comite-editorial-link14 {
    display: none;
  }
  .comite-editorial-botonarchivos {
    display: none;
  }
  .comite-editorial-link15 {
    display: none;
  }
  .comite-editorial-botonpoliticaeditorial {
    display: none;
  }
  .comite-editorial-link16 {
    display: none;
  }
  .comite-editorial-botongaleria {
    display: none;
  }
  .comite-editorial-link17 {
    display: none;
  }
  .comite-editorial-botoncontacto {
    display: none;
  }
  .comite-editorial-link18 {
    display: none;
  }
  .comite-editorial-text10 {
    display: none;
  }
  .comite-editorial-image4 {
    width: 40%;
  }
  .comite-editorial-marco-para-links {
    align-self: stretch;
    padding-left: var(--dl-space-space-unit);
  }
  .comite-editorial-text12 {
    font-size: 30px;
  }
  .comite-editorial-text13 {
    font-size: 30px;
  }
  .comite-editorial-text14 {
    font-size: 30px;
  }
  .comite-editorial-text16 {
    font-size: 30px;
  }
  .comite-editorial-text17 {
    font-size: 30px;
  }
  .comite-editorial-text18 {
    font-size: 30px;
  }
  .comite-editorial-text19 {
    font-size: 30px;
  }
  .comite-editorial-text20 {
    font-size: 30px;
  }
  .comite-editorial-comiteeditorial {
    padding: var(--dl-space-space-threeunits);
  }
  .comite-editorial-footer {
    gap: 100px;
    padding: var(--dl-space-space-threeunits);
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .comite-editorial-image5 {
    width: 450px;
  }
  .comite-editorial-image6 {
    width: 180px;
    height: auto;
  }
  .comite-editorial-image7 {
    width: 180px;
    height: auto;
  }
  .comite-editorial-contenedorcentro {
    gap: var(--dl-space-space-twounits);
    width: 520px;
    height: 309px;
    flex-direction: column;
  }
  .comite-editorial-contenedormenu {
    width: 100%;
  }
  .comite-editorial-header1 {
    color: rgb(255, 255, 255);
    width: 550px;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
  }
  .comite-editorial-link21 {
    color: rgb(255, 255, 255);
    width: 550px;
    font-size: 20px;
  }
  .comite-editorial-link22 {
    color: rgb(255, 255, 255);
    width: 550px;
    font-size: 20px;
  }
  .comite-editorial-link23 {
    color: rgb(255, 255, 255);
    width: 550px;
    font-size: 20px;
  }
  .comite-editorial-link24 {
    color: rgb(255, 255, 255);
    width: 550px;
    font-size: 20px;
  }
  .comite-editorial-link27 {
    color: rgb(255, 255, 255);
    width: 550px;
    font-size: 20px;
  }
  .comite-editorial-link28 {
    color: rgb(255, 255, 255);
    width: 550px;
    font-size: 20px;
  }
  .comite-editorial-link31 {
    color: rgb(255, 255, 255);
    width: 550px;
    font-size: 20px;
  }
  .comite-editorial-contenedorderecho {
    gap: var(--dl-space-space-twounits);
    width: 520px;
    height: 309px;
    flex-direction: column;
  }
  .comite-editorial-contenedorubicacion {
    width: 100%;
  }
  .comite-editorial-header2 {
    color: rgb(255, 255, 255);
    width: 550px;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
  }
  .comite-editorial-link35 {
    color: rgb(255, 255, 255);
    width: 550px;
    font-size: 20px;
  }
  .comite-editorial-link36 {
    color: rgb(255, 255, 255);
    width: 550px;
    font-size: 20px;
  }
  .comite-editorial-link37 {
    color: rgb(255, 255, 255);
    width: 550px;
    font-size: 20px;
  }
}
@media(max-width: 767px) {
  .comite-editorial-barrasuperior {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-unit);
  }
  .comite-editorial-image1 {
    width: 60px;
  }
  .comite-editorial-image2 {
    width: auto;
    height: 100px;
  }
  .comite-editorial-image3 {
    width: 60px;
  }
  .comite-editorial-barrainferior {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-unit);
  }
  .comite-editorial-botonmenu {
    display: flex;
  }
  .comite-editorial-icon1 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .comite-editorial-image4 {
    width: 50%;
  }
  .comite-editorial-text12 {
    font-size: 30px;
  }
  .comite-editorial-text13 {
    font-size: 30px;
  }
  .comite-editorial-text14 {
    font-size: 30px;
  }
  .comite-editorial-text16 {
    font-size: 30px;
  }
  .comite-editorial-text17 {
    font-size: 30px;
  }
  .comite-editorial-text18 {
    font-size: 30px;
  }
  .comite-editorial-text19 {
    font-size: 30px;
  }
  .comite-editorial-text20 {
    font-size: 30px;
  }
  .comite-editorial-comiteeditorial {
    gap: var(--dl-space-space-threeunits);
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .comite-editorial-titulo {
    gap: var(--dl-space-space-unit);
    padding-right: 0px;
  }
  .comite-editorial-text21 {
    font-size: 46px;
  }
  .comite-editorial-footer {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .comite-editorial-image5 {
    width: 372px;
    height: auto;
  }
  .comite-editorial-contenedorcentro {
    width: 480px;
    height: 100%;
  }
  .comite-editorial-contenedormenu {
    width: 480;
    height: 100%;
  }
  .comite-editorial-header1 {
    width: 480px;
    height: 100%;
    font-size: 40px;
  }
  .comite-editorial-link21 {
    width: 480px;
    height: 100%;
    font-size: 25px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .comite-editorial-link22 {
    width: 480px;
    height: 100%;
    font-size: 25px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .comite-editorial-link23 {
    width: 480px;
    height: 100%;
    font-size: 25px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .comite-editorial-link24 {
    width: 480px;
    height: 100%;
    font-size: 25px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .comite-editorial-link27 {
    width: 480px;
    height: 100%;
    font-size: 25px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .comite-editorial-link28 {
    width: 480px;
    height: 100%;
    font-size: 25px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .comite-editorial-link31 {
    width: 480px;
    height: 100%;
    font-size: 25px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .comite-editorial-contenedorderecho {
    width: 480px;
    height: 100%;
  }
  .comite-editorial-contenedorubicacion {
    width: 480;
    height: 100%;
  }
  .comite-editorial-header2 {
    width: 480px;
    height: 100%;
    font-size: 40px;
  }
  .comite-editorial-link35 {
    width: 480px;
    height: 100%;
    font-size: 25px;
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .comite-editorial-link36 {
    width: 480px;
    height: 100%;
    font-size: 25px;
  }
  .comite-editorial-link37 {
    width: 480px;
    height: 100%;
    font-size: 25px;
  }
}
@media(max-width: 479px) {
  .comite-editorial-container {
    background-color: transparent;
  }
  .comite-editorial-barrasuperior {
    height: auto;
  }
  .comite-editorial-image1 {
    width: 40px;
  }
  .comite-editorial-image2 {
    width: auto;
    height: 60px;
  }
  .comite-editorial-image3 {
    width: 40px;
  }
  .comite-editorial-barrainferior {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-unit);
  }
  .comite-editorial-menumovil {
    padding: var(--dl-space-space-twounits);
  }
  .comite-editorial-image4 {
    width: 70%;
  }
  .comite-editorial-icon3 {
    align-self: center;
  }
  .comite-editorial-text12 {
    font-size: 30px;
  }
  .comite-editorial-text13 {
    font-size: 30px;
  }
  .comite-editorial-text14 {
    font-size: 30px;
  }
  .comite-editorial-text16 {
    font-size: 30px;
  }
  .comite-editorial-text17 {
    font-size: 30px;
  }
  .comite-editorial-text18 {
    font-size: 30px;
  }
  .comite-editorial-text19 {
    font-size: 30px;
  }
  .comite-editorial-text20 {
    font-size: 30px;
  }
  .comite-editorial-comiteeditorial {
    padding: var(--dl-space-space-twounits);
  }
  .comite-editorial-text21 {
    font-size: 36px;
  }
  .comite-editorial-footer {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .comite-editorial-image5 {
    width: 300px;
    height: auto;
  }
  .comite-editorial-image6 {
    width: 140px;
  }
  .comite-editorial-image7 {
    width: 140px;
  }
  .comite-editorial-contenedorcentro {
    width: 340px;
    height: 378px;
  }
  .comite-editorial-contenedormenu {
    width: 340px;
  }
  .comite-editorial-header1 {
    color: rgb(255, 255, 255);
    width: 340px;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
  }
  .comite-editorial-link21 {
    color: rgb(255, 255, 255);
    width: 340px;
    font-size: 20px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .comite-editorial-link22 {
    color: rgb(255, 255, 255);
    width: 340px;
    font-size: 20px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .comite-editorial-link23 {
    color: rgb(255, 255, 255);
    width: 340px;
    font-size: 20px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .comite-editorial-link24 {
    color: rgb(255, 255, 255);
    width: 340px;
    font-size: 20px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .comite-editorial-link27 {
    color: rgb(255, 255, 255);
    width: 340px;
    font-size: 20px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .comite-editorial-link28 {
    color: rgb(255, 255, 255);
    width: 340px;
    font-size: 20px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .comite-editorial-link31 {
    color: rgb(255, 255, 255);
    width: 340px;
    font-size: 20px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .comite-editorial-contenedorderecho {
    width: 300px;
    height: 378px;
  }
  .comite-editorial-contenedorubicacion {
    width: 300px;
  }
  .comite-editorial-header2 {
    color: rgb(255, 255, 255);
    width: 300px;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
  }
  .comite-editorial-link35 {
    color: rgb(255, 255, 255);
    width: 300px;
    font-size: 20px;
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .comite-editorial-link36 {
    color: rgb(255, 255, 255);
    width: 300px;
    font-size: 20px;
  }
  .comite-editorial-link37 {
    color: rgb(255, 255, 255);
    width: 300px;
    font-size: 20px;
  }
}
