.contacto-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.contacto-seccionprincipal {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  animation-name: fadeIn;
  flex-direction: column;
  animation-delay: 0s;
  background-color: var(--dl-color-gray-500);
  animation-duration: 700ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.contacto-barrasuperior {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  z-index: 100;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-scheme-white);
}
.contacto-logoizquierda {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacto-link10 {
  display: contents;
}
.contacto-image1 {
  width: 100px;
  object-fit: cover;
  transition: 0.5s;
  animation-name: fadeInRight;
  animation-delay: 0s;
  text-decoration: none;
  animation-duration: 700ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.contacto-image1:hover {
  cursor: pointer;
  transform: scale(0.8);
  transition: 0.5s;
}
.contacto-logocentro {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacto-navlink10 {
  display: contents;
}
.contacto-image2 {
  width: 400px;
  height: 100px;
  object-fit: cover;
  transition: 0.5s;
  animation-name: fadeInDown;
  animation-delay: 0s;
  text-decoration: none;
  animation-duration: 700ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.contacto-image2:hover {
  cursor: pointer;
  transform: scale(0.9);
  transition: 0.5s;
}
.contacto-logoderecha {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacto-link11 {
  display: contents;
}
.contacto-image3 {
  width: 100px;
  object-fit: cover;
  transition: 0.5s;
  animation-name: fadeInLeft;
  animation-delay: 0s;
  text-decoration: none;
  animation-duration: 700ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.contacto-image3:hover {
  cursor: pointer;
  transform: scale(0.8);
  transition: 0.5s;
}
.contacto-barrainferior {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  z-index: 1002;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 0px;
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  padding-bottom: 0px;
  justify-content: space-between;
  background-color: var(--dl-color-scheme-white);
}
.contacto-botonmenu {
  display: none;
  transition: 0.5s;
  align-items: center;
  justify-content: center;
}
.contacto-botonmenu:hover {
  cursor: pointer;
  transform: translate(0px,5px);
}
.contacto-icon1 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.contacto-navlink11 {
  display: contents;
}
.contacto-botoninicio {
  flex: 0 0 auto;
  width: var(--dl-size-size-large);
  cursor: pointer;
  height: var(--dl-size-size-medium);
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  transition: 0.5s;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #ffffff;
}
.contacto-botoninicio:hover {
  z-index: 10001;
  transform: translateY(10px);
  transition: 0.5s;
  border-color: var(--dl-color-theme-neutral-dark);
  background-color: whitesmoke;
  border-bottom-width: 8px;
}
.contacto-link12 {
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding-left: 0px;
}
.contacto-navlink12 {
  display: contents;
}
.contacto-botonsobrerevista {
  flex: 0 0 auto;
  width: var(--dl-size-size-large);
  cursor: pointer;
  height: var(--dl-size-size-medium);
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  transition: 0.5s;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #ffffff;
}
.contacto-botonsobrerevista:hover {
  z-index: 10001;
  transform: translateY(10px);
  transition: 0.5s;
  border-color: var(--dl-color-theme-neutral-dark);
  background-color: whitesmoke;
  border-bottom-width: 8px;
}
.contacto-link13 {
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding-left: 0px;
  text-decoration: none;
}
.contacto-navlink13 {
  display: contents;
}
.contacto-botoncomiteeditorial {
  flex: 0 0 auto;
  width: var(--dl-size-size-large);
  cursor: pointer;
  height: var(--dl-size-size-medium);
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  transition: 0.5s;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #ffffff;
}
.contacto-botoncomiteeditorial:hover {
  z-index: 10001;
  transform: translateY(10px);
  transition: 0.5s;
  border-color: var(--dl-color-theme-neutral-dark);
  background-color: whitesmoke;
  border-bottom-width: 8px;
}
.contacto-link14 {
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding-left: 0px;
  text-decoration: none;
}
.contacto-navlink14 {
  display: contents;
}
.contacto-botonarchivos {
  flex: 0 0 auto;
  width: var(--dl-size-size-large);
  cursor: pointer;
  height: var(--dl-size-size-medium);
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  transition: 0.5s;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #ffffff;
}
.contacto-botonarchivos:hover {
  z-index: 10001;
  transform: translateY(10px);
  transition: 0.5s;
  border-color: var(--dl-color-theme-neutral-dark);
  background-color: whitesmoke;
  border-bottom-width: 8px;
}
.contacto-link15 {
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding-left: 0px;
  text-decoration: none;
}
.contacto-navlink15 {
  display: contents;
}
.contacto-botonpoliticaeditorial {
  flex: 0 0 auto;
  width: var(--dl-size-size-large);
  cursor: pointer;
  height: var(--dl-size-size-medium);
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  transition: 0.5s;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #ffffff;
}
.contacto-botonpoliticaeditorial:hover {
  z-index: 10001;
  transform: translateY(10px);
  transition: 0.5s;
  border-color: var(--dl-color-theme-neutral-dark);
  background-color: whitesmoke;
  border-bottom-width: 8px;
}
.contacto-link16 {
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding-left: 0px;
  text-decoration: none;
}
.contacto-navlink16 {
  display: contents;
}
.contacto-botongaleria {
  flex: 0 0 auto;
  width: var(--dl-size-size-large);
  cursor: pointer;
  height: var(--dl-size-size-medium);
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  transition: 0.5s;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #ffffff;
}
.contacto-botongaleria:hover {
  z-index: 10001;
  transform: translateY(10px);
  transition: 0.5s;
  border-color: var(--dl-color-theme-neutral-dark);
  background-color: whitesmoke;
  border-bottom-width: 8px;
}
.contacto-link17 {
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding-left: 0px;
  text-decoration: none;
}
.contacto-navlink17 {
  display: contents;
}
.contacto-botoncontacto {
  flex: 0 0 auto;
  width: var(--dl-size-size-large);
  cursor: pointer;
  height: var(--dl-size-size-medium);
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  transition: 0.5s;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #ffffff;
}
.contacto-botoncontacto:hover {
  z-index: 10001;
  transform: translateY(10px);
  transition: 0.5s;
  border-color: var(--dl-color-theme-neutral-dark);
  background-color: whitesmoke;
  border-bottom-width: 8px;
}
.contacto-link18 {
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding-left: 0px;
  text-decoration: none;
}
.contacto-menumovil {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  position: fixed;
  transform: translateX(100%);
  overflow-y: auto;
  transition: 0.5s;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
  background-color: var(--dl-color-scheme-white);
}
.contacto-marco {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contacto-logorevista {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.contacto-image4 {
  width: 20%;
}
.contacto-botoncerrar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.contacto-icon3 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  transition: 0.5s;
}
.contacto-icon3:hover {
  cursor: pointer;
  transform: translateX(-10px) scale(1.1);
  transition: 0.5s;
}
.contacto-marco-para-links {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contacto-text12 {
  transition: 0.5s;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contacto-text12:hover {
  cursor: pointer;
  transform: translateX(10px) scale(1.1);
  transition: 0.5s;
}
.contacto-text13 {
  transition: 0.5s;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contacto-text13:hover {
  cursor: pointer;
  transform: translateX(10px) scale(1.1);
  transition: 0.5s;
}
.contacto-text14:hover {
  cursor: pointer;
  transform: translateX(10px) scale(1.1);
  transition: 0.5s;
}
.contacto-text16 {
  transition: 0.5s;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contacto-text16:hover {
  cursor: pointer;
  transform: translateX(10px) scale(1.1);
  transition: 0.5s;
}
.contacto-text17 {
  transition: 0.5s;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contacto-text17:hover {
  cursor: pointer;
  transform: translateX(10px) scale(1.1);
  transition: 0.5s;
}
.contacto-text18 {
  transition: 0.5s;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contacto-text18:hover {
  cursor: pointer;
  transform: translateX(10px) scale(1.1);
  transition: 0.5s;
}
.contacto-text19 {
  transition: 0.5s;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contacto-text19:hover {
  cursor: pointer;
  transform: translateX(10px) scale(1.1);
  transition: 0.5s;
}
.contacto-text20 {
  transition: 0.5s;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contacto-text20:hover {
  cursor: pointer;
  transform: translateX(10px) scale(1.1);
  transition: 0.5s;
}
.contacto-contenedorprincipal {
  flex: 1;
  width: 100%;
  display: flex;
  z-index: 100;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  justify-content: space-between;
}
.contacto-contenedortextos {
  display: flex;
  padding-left: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: center;
}
.contacto-textos {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.contacto-header1 {
  fill: var(--dl-color-scheme-white);
  color: var(--dl-color-scheme-white);
  width: auto;
  font-size: 140px;
  max-width: auto;
  font-style: normal;
  font-weight: 600;
  line-height: 150px;
  animation-name: fadeInLeft;
  animation-delay: 0s;
  animation-duration: 700ms;
  animation-direction: normal;
  animation-iteration-count: 1;
}
.contacto-contenedorimagen1 {
  display: flex;
  align-items: flex-end;
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: row;
}
.contacto-image5 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  animation-name: fadeInUp;
  animation-delay: 0s;
  animation-duration: 800ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.contacto-image5:hover {
  transform: scale(1.05);
  transition: 0.5s;
}
.contacto-fondo2principal {
  right: 0px;
  width: 45%;
  bottom: 0px;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  animation-name: fadeInRight;
  flex-direction: column;
  animation-delay: 0s;
  justify-content: flex-end;
  background-color: whitesmoke;
  animation-duration: 700ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.contacto-seccioncontenido {
  gap: 120px;
  width: 100%;
  display: flex;
  z-index: 110;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  background-color: var(--dl-color-scheme-white);
}
.contacto-seccionenviodetrabajos {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.contacto-contenedorprimario {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding: var(--dl-space-space-fourunits);
  transition: 0.5s;
  border-color: whitesmoke;
  flex-direction: column;
  justify-content: flex-start;
  background-color: whitesmoke;
  border-bottom-width: 40px;
}
.contacto-contenedorprimario:hover {
  transition: 0.5s;
  border-color: black;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 40px;
}
.contacto-contenedorimagen2 {
  gap: var(--dl-space-space-unit);
  width: 15%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
}
.contacto-image6 {
  flex: 1;
  width: 100%;
  object-fit: cover;
}
.contacto-contenedorheader {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: center;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
}
.contacto-texto1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.contacto-heading {
  font-size: 56px;
  max-width: 1200px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  padding-bottom: 0px;
}
.contacto-texto2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.contacto-caption {
  font-size: 25px;
  max-width: 1440px;
  align-self: flex-start;
  text-align: justify;
  line-height: 35px;
}
.contacto-link19 {
  text-decoration: underline;
}
.contacto-footer {
  width: 100%;
  display: flex;
  align-items: stretch;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: space-between;
  background-color: #000000;
}
.contacto-contenedorizquierda {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  transition: 0.5s;
  align-items: flex-start;
  padding-right: var(--dl-space-space-sixunits);
  justify-content: flex-start;
}
.contacto-contenedorlogos {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contacto-image7 {
  width: 400px;
  cursor: pointer;
  object-fit: cover;
  transition: 0.5s;
  text-decoration: none;
}
.contacto-image7:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: scale(0.9);
  transition: 0.5s;
}
.contacto-contenedorlogoscomezu {
  flex: 0 0 auto;
  height: auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  justify-content: center;
}
.contacto-link20 {
  display: contents;
}
.contacto-image8 {
  width: 180px;
  cursor: pointer;
  object-fit: cover;
  transition: 0.5s;
  text-decoration: none;
}
.contacto-image8:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: scale(0.9);
  transition: 0.5s;
}
.contacto-link21 {
  display: contents;
}
.contacto-image9 {
  width: 180px;
  cursor: pointer;
  object-fit: cover;
  transition: 0.5s;
  text-decoration: none;
}
.contacto-image9:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: scale(0.9);
  transition: 0.5s;
}
.contacto-contenedorcentro {
  gap: 140px;
  width: 330px;
  display: flex;
  align-self: stretch;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: row;
}

.contacto-contenedormenu {
  width: 330px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.contacto-header2 {
  color: rgb(255, 255, 255);
  width: 330px;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  padding-bottom: var(--dl-space-space-twounits);
}
.contacto-navlink18 {
  display: contents;
}
.contacto-link22 {
  color: rgb(255, 255, 255);
  width: 300px;
  font-size: 30px;
  transition: 0.5s;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contacto-link22:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: translate(5px,0px);
  transition: 0.5s;
}
.contacto-navlink19 {
  display: contents;
}
.contacto-link23 {
  color: rgb(255, 255, 255);
  width: 300px;
  font-size: 30px;
  transition: 0.5s;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contacto-link23:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: translate(5px,0px);
  transition: 0.5s;
}
.contacto-navlink20 {
  display: contents;
}
.contacto-link24 {
  color: rgb(255, 255, 255);
  width: 300px;
  font-size: 30px;
  transition: 0.5s;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contacto-link24:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: translate(5px,0px);
  transition: 0.5s;
}
.contacto-navlink21 {
  display: contents;
}
.contacto-link25 {
  color: rgb(255, 255, 255);
  width: 300px;
  font-size: 30px;
  transition: 0.5s;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contacto-link25:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: translate(5px,0px);
  transition: 0.5s;
}
.contacto-navlink22 {
  display: contents;
}
.contacto-link26 {
  color: rgb(255, 255, 255);
  width: 300px;
  font-size: 30px;
  transition: 0.5s;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contacto-link26:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: translate(5px,0px);
  transition: 0.5s;
}
.contacto-navlink23 {
  display: contents;
}
.contacto-link27 {
  color: rgb(255, 255, 255);
  width: 300px;
  font-size: 30px;
  transition: 0.5s;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contacto-link27:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: translate(5px,0px);
  transition: 0.5s;
}
.contacto-navlink24 {
  display: contents;
}
.contacto-link28 {
  color: rgb(255, 255, 255);
  width: 300px;
  font-size: 30px;
  transition: 0.5s;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contacto-link28:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: translate(5px,0px);
  transition: 0.5s;
}
.contacto-contenedorderecho {
  gap: 140px;
  width: 700px;
  display: flex;
  align-self: stretch;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: row;
}

.contacto-contenedorubicacion {
  flex: 0 0 auto;
  width: 700px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.contacto-header3 {
  color: rgb(255, 255, 255);
  width: 474px;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  padding-bottom: var(--dl-space-space-twounits);
}
.contacto-link29 {
  display: contents;
}
.contacto-link30 {
  color: rgb(255, 255, 255);
  width: 700px;
  font-size: 30px;
  transition: 0.5s;
  padding-bottom: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.contacto-link30:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: translateX(5px);
  transition: 0.5s;
}
.contacto-link31 {
  color: rgb(255, 255, 255);
  width: 700px;
  font-size: 30px;
  padding-bottom: var(--dl-space-space-threeunits);
}
.contacto-link32 {
  color: rgb(255, 255, 255);
  width: 700px;
  font-size: 30px;
}
@media(max-width: 1600px) {
  .contacto-seccionprincipal {
    height: 100vh;
  }
  .contacto-link12 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .contacto-link13 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .contacto-link14 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .contacto-link15 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .contacto-link16 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .contacto-link17 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .contacto-link18 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .contacto-text10 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .contacto-header1 {
    font-size: 105px;
    max-width: 700px;
    font-style: normal;
    font-weight: 600;
    line-height: 110px;
    padding-left: 0px;
  }
  .contacto-contenedorimagen1 {
    padding-left: 0px;
  }
  .contacto-image5 {
    height: 90%;
  }
  .contacto-seccioncontenido {
    width: 100%;
  }
  .contacto-caption {
    font-size: 25px;
    line-height: 35px;
  }
  .contacto-footer {
    width: 100%;
    padding: var(--dl-space-space-sixunits);
  }
  .contacto-contenedorizquierda {
    padding-right: 0px;
  }
  .contacto-contenedorlogos {
    padding-right: 0px;
  }
  .contacto-image7 {
    width: 427px;
  }
  .contacto-contenedorlogoscomezu {
    width: auto;
    align-self: stretch;
    justify-content: center;
  }
  .contacto-contenedorcentro {
    width: 230px;
    align-self: stretch;
  }
  .contacto-header2 {
    width: 230px;
    font-size: 35px;
  }
  .contacto-link22 {
    width: 230px;
    font-size: 20px;
  }
  .contacto-link23 {
    width: 230px;
    font-size: 20px;
  }
  .contacto-link24 {
    width: 230px;
    font-size: 20px;
  }
  .contacto-link25 {
    width: 230px;
    font-size: 20px;
  }
  .contacto-link26 {
    width: 230px;
    font-size: 20px;
  }
  .contacto-link27 {
    width: 230px;
    font-size: 20px;
  }
  .contacto-link28 {
    width: 230px;
    font-size: 20px;
  }
  .contacto-contenedorderecho {
    width: 306px;
    align-self: stretch;
  }
  .contacto-contenedorubicacion {
    width: 290px;
  }
  .contacto-header3 {
    width: 200px;
    font-size: 35px;
  }
  .contacto-link30 {
    width: 280px;
    font-size: 20px;
    margin-right: 0px;
  }
  .contacto-link31 {
    width: 280px;
    font-size: 20px;
  }
  .contacto-link32 {
    width: 280px;
    font-size: 20px;
  }
}
@media(max-width: 1200px) {
  .contacto-seccionprincipal {
    height: 100vh;
  }
  .contacto-botoninicio {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-small);
    font-size: 10px;
  }
  .contacto-link12 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .contacto-botonsobrerevista {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-small);
    font-size: 10px;
  }
  .contacto-link13 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .contacto-botoncomiteeditorial {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-small);
    font-size: 10px;
  }
  .contacto-link14 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .contacto-botonarchivos {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-small);
    font-size: 10px;
  }
  .contacto-link15 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .contacto-botonpoliticaeditorial {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-small);
    font-size: 10px;
  }
  .contacto-link16 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .contacto-botongaleria {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-small);
    font-size: 10px;
  }
  .contacto-link17 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .contacto-botoncontacto {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-small);
    font-size: 10px;
  }
  .contacto-link18 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .contacto-text10 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .contacto-image4 {
    width: 25%;
  }
  .contacto-contenedorprincipal {
    height: 100vh;
    padding-left: var(--dl-space-space-fiveunits);
    padding-right: 0px;
  }
  .contacto-contenedortextos {
    width: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
  .contacto-header1 {
    width: auto;
    font-size: 70px;
    max-width: auto;
    font-style: normal;
    font-weight: 600;
    line-height: 80px;
    padding-left: 0px;
  }
  .contacto-contenedorimagen1 {
    padding-left: 0px;
    padding-right: var(--dl-space-space-fourunits);
  }
  .contacto-image5 {
    width: 100%;
    height: 75%;
  }
  .contacto-seccioncontenido {
    padding-left: var(--dl-space-space-fiveunits);
    padding-right: var(--dl-space-space-fiveunits);
  }
  .contacto-contenedorprimario {
    padding: var(--dl-space-space-fiveunits);
  }
  .contacto-caption {
    font-size: 18px;
    line-height: 28px;
  }
  .contacto-footer {
    width: 100%;
    padding: var(--dl-space-space-fiveunits);
  }
  .contacto-contenedorizquierda {
    width: 240px;
    padding-right: 0px;
  }
  .contacto-contenedorlogos {
    width: 280px;
    padding-right: 0px;
  }
  .contacto-image7 {
    width: 280px;
  }
  .contacto-contenedorlogoscomezu {
    width: auto;
    align-self: stretch;
    justify-content: center;
  }
  .contacto-image8 {
    width: 120px;
  }
  .contacto-image9 {
    width: 120px;
  }
  .contacto-contenedorcentro {
    width: 200px;
    align-self: stretch;
    padding-right: 0px;
  }
  .contacto-contenedormenu {
    width: 200px;
  }
  .contacto-header2 {
    width: 180px;
  }
  .contacto-link22 {
    color: rgb(255, 255, 255);
    width: 200px;
    font-size: 20px;
  }
  .contacto-link23 {
    color: rgb(255, 255, 255);
    width: 200px;
    font-size: 20px;
  }
  .contacto-link24 {
    color: rgb(255, 255, 255);
    width: 200px;
    font-size: 20px;
  }
  .contacto-link25 {
    color: rgb(255, 255, 255);
    width: 200px;
    font-size: 20px;
  }
  .contacto-link26 {
    color: rgb(255, 255, 255);
    width: 200px;
    font-size: 20px;
  }
  .contacto-link27 {
    color: rgb(255, 255, 255);
    width: 200px;
    font-size: 20px;
  }
  .contacto-link28 {
    color: rgb(255, 255, 255);
    width: 200px;
    font-size: 20px;
  }
  .contacto-contenedorderecho {
    width: 320px;
    align-self: stretch;
  }
  .contacto-contenedorubicacion {
    width: 300px;
  }
  .contacto-header3 {
    width: 320px;
  }
  .contacto-link30 {
    color: rgb(255, 255, 255);
    width: 300px;
    font-size: 20px;
  }
  .contacto-link31 {
    color: rgb(255, 255, 255);
    width: 320px;
    font-size: 20px;
  }
  .contacto-link32 {
    color: rgb(255, 255, 255);
    width: 320px;
    font-size: 20px;
  }
}
@media(max-width: 991px) {
  .contacto-seccionprincipal {
    flex: 1;
  }
  .contacto-barrasuperior {
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: row;
  }
  .contacto-image1 {
    width: 80px;
  }
  .contacto-image2 {
    width: auto;
    height: 100px;
  }
  .contacto-image3 {
    width: 80px;
  }
  .contacto-barrainferior {
    height: 100px;
    align-self: center;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-unit);
    justify-content: center;
  }
  .contacto-botonmenu {
    display: flex;
    align-self: stretch;
  }
  .contacto-icon1 {
    fill: #000000;
  }
  .contacto-botoninicio {
    display: none;
  }
  .contacto-link12 {
    display: none;
  }
  .contacto-botonsobrerevista {
    display: none;
  }
  .contacto-link13 {
    display: none;
  }
  .contacto-botoncomiteeditorial {
    display: none;
  }
  .contacto-link14 {
    display: none;
  }
  .contacto-botonarchivos {
    display: none;
  }
  .contacto-link15 {
    display: none;
  }
  .contacto-botonpoliticaeditorial {
    display: none;
  }
  .contacto-link16 {
    display: none;
  }
  .contacto-botongaleria {
    display: none;
  }
  .contacto-link17 {
    display: none;
  }
  .contacto-botoncontacto {
    display: none;
  }
  .contacto-link18 {
    display: none;
  }
  .contacto-text10 {
    display: none;
  }
  .contacto-image4 {
    width: 40%;
  }
  .contacto-marco-para-links {
    align-self: stretch;
    padding-left: var(--dl-space-space-unit);
  }
  .contacto-text12 {
    font-size: 30px;
  }
  .contacto-text13 {
    font-size: 30px;
  }
  .contacto-text14 {
    font-size: 30px;
  }
  .contacto-text16 {
    font-size: 30px;
  }
  .contacto-text17 {
    font-size: 30px;
  }
  .contacto-text18 {
    font-size: 30px;
  }
  .contacto-text19 {
    font-size: 30px;
  }
  .contacto-text20 {
    font-size: 30px;
  }
  .contacto-contenedorprincipal {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: 0px;
  }
  .contacto-contenedortextos {
    align-self: center;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .contacto-textos {
    align-self: flex-start;
  }
  .contacto-header1 {
    width: auto;
    font-size: 55px;
    max-width: auto;
    font-style: normal;
    font-weight: 600;
    line-height: 65px;
    padding-left: 0px;
  }
  .contacto-contenedorimagen1 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .contacto-fondo2principal {
    left: 0px;
    width: 100%;
    bottom: 0px;
    height: 45%;
    position: absolute;
    justify-content: flex-end;
  }
  .contacto-seccioncontenido {
    gap: var(--dl-space-space-threeunits);
    padding-top: var(--dl-space-space-fiveunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .contacto-seccionenviodetrabajos {
    gap: var(--dl-space-space-twounits);
    width: auto;
    align-self: stretch;
    flex-direction: column;
    padding-bottom: 0px;
    justify-content: center;
  }
  .contacto-contenedorprimario {
    padding-right: var(--dl-space-space-fiveunits);
  }
  .contacto-contenedorimagen2 {
    align-self: center;
  }
  .contacto-contenedorheader {
    align-self: center;
  }
  .contacto-texto1 {
    align-self: stretch;
  }
  .contacto-heading {
    max-width: 100%;
    align-self: center;
    padding-bottom: var(--dl-space-space-unit);
  }
  .contacto-texto2 {
    align-self: center;
  }
  .contacto-caption {
    max-width: 100%;
    text-align: center;
  }
  .contacto-footer {
    gap: 100px;
    padding: var(--dl-space-space-threeunits);
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .contacto-image7 {
    width: 450px;
  }
  .contacto-image8 {
    width: 180px;
    height: auto;
  }
  .contacto-image9 {
    width: 180px;
    height: auto;
  }
  .contacto-contenedorcentro {
    gap: var(--dl-space-space-twounits);
    width: 520px;
    height: 309px;
    flex-direction: column;
  }
  .contacto-contenedormenu {
    width: 100%;
  }
  .contacto-header2 {
    color: rgb(255, 255, 255);
    width: 550px;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
  }
  .contacto-link22 {
    color: rgb(255, 255, 255);
    width: 550px;
    font-size: 20px;
  }
  .contacto-link23 {
    color: rgb(255, 255, 255);
    width: 550px;
    font-size: 20px;
  }
  .contacto-link24 {
    color: rgb(255, 255, 255);
    width: 550px;
    font-size: 20px;
  }
  .contacto-link25 {
    color: rgb(255, 255, 255);
    width: 550px;
    font-size: 20px;
  }
  .contacto-link26 {
    color: rgb(255, 255, 255);
    width: 550px;
    font-size: 20px;
  }
  .contacto-link27 {
    color: rgb(255, 255, 255);
    width: 550px;
    font-size: 20px;
  }
  .contacto-link28 {
    color: rgb(255, 255, 255);
    width: 550px;
    font-size: 20px;
  }
  .contacto-contenedorderecho {
    gap: var(--dl-space-space-twounits);
    width: 520px;
    height: 309px;
    flex-direction: column;
  }
  .contacto-contenedorubicacion {
    width: 100%;
  }
  .contacto-header3 {
    color: rgb(255, 255, 255);
    width: 550px;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
  }
  .contacto-link30 {
    color: rgb(255, 255, 255);
    width: 550px;
    font-size: 20px;
  }
  .contacto-link31 {
    color: rgb(255, 255, 255);
    width: 550px;
    font-size: 20px;
  }
  .contacto-link32 {
    color: rgb(255, 255, 255);
    width: 550px;
    font-size: 20px;
  }
}
@media(max-width: 767px) {
  .contacto-seccionprincipal {
    height: 100vh;
  }
  .contacto-barrasuperior {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-unit);
  }
  .contacto-image1 {
    width: 60px;
  }
  .contacto-image2 {
    width: auto;
    height: 100px;
  }
  .contacto-image3 {
    width: 60px;
  }
  .contacto-barrainferior {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-unit);
  }
  .contacto-botonmenu {
    display: flex;
  }
  .contacto-icon1 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .contacto-image4 {
    width: 50%;
  }
  .contacto-text12 {
    font-size: 30px;
  }
  .contacto-text13 {
    font-size: 30px;
  }
  .contacto-text14 {
    font-size: 30px;
  }
  .contacto-text16 {
    font-size: 30px;
  }
  .contacto-text17 {
    font-size: 30px;
  }
  .contacto-text18 {
    font-size: 30px;
  }
  .contacto-text19 {
    font-size: 30px;
  }
  .contacto-text20 {
    font-size: 30px;
  }
  .contacto-contenedorprincipal {
    gap: var(--dl-space-space-threeunits);
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .contacto-contenedortextos {
    align-self: center;
    padding-bottom: 0px;
  }
  .contacto-textos {
    width: 100%;
  }
  .contacto-header1 {
    width: auto;
    font-size: 55px;
    max-width: auto;
    font-style: normal;
    font-weight: 600;
    line-height: 65px;
  }
  .contacto-image5 {
    height: 80%;
  }
  .contacto-seccioncontenido {
    padding-top: var(--dl-space-space-fiveunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .contacto-seccionenviodetrabajos {
    padding-bottom: 0px;
  }
  .contacto-contenedorprimario {
    gap: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-fiveunits);
  }
  .contacto-heading {
    font-size: 30px;
    line-height: 36px;
  }
  .contacto-caption {
    font-size: 14px;
    max-width: 100%;
    line-height: 21px;
  }
  .contacto-footer {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .contacto-image7 {
    width: 372px;
    height: auto;
  }
  .contacto-contenedorcentro {
    width: 480px;
    height: 100%;
  }
  .contacto-contenedormenu {
    width: 480;
    height: 100%;
  }
  .contacto-header2 {
    width: 480px;
    height: 100%;
    font-size: 40px;
  }
  .contacto-link22 {
    width: 480px;
    height: 100%;
    font-size: 25px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .contacto-link23 {
    width: 480px;
    height: 100%;
    font-size: 25px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .contacto-link24 {
    width: 480px;
    height: 100%;
    font-size: 25px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .contacto-link25 {
    width: 480px;
    height: 100%;
    font-size: 25px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .contacto-link26 {
    width: 480px;
    height: 100%;
    font-size: 25px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .contacto-link27 {
    width: 480px;
    height: 100%;
    font-size: 25px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .contacto-link28 {
    width: 480px;
    height: 100%;
    font-size: 25px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .contacto-contenedorderecho {
    width: 480px;
    height: 100%;
  }
  .contacto-contenedorubicacion {
    width: 480;
    height: 100%;
  }
  .contacto-header3 {
    width: 480px;
    height: 100%;
    font-size: 40px;
  }
  .contacto-link30 {
    width: 480px;
    height: 100%;
    font-size: 25px;
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .contacto-link31 {
    width: 480px;
    height: 100%;
    font-size: 25px;
  }
  .contacto-link32 {
    width: 480px;
    height: 100%;
    font-size: 25px;
  }
}
@media(max-width: 479px) {
  .contacto-seccionprincipal {
    height: 100vh;
  }
  .contacto-barrasuperior {
    height: auto;
  }
  .contacto-image1 {
    width: 40px;
  }
  .contacto-image2 {
    width: auto;
    height: 60px;
  }
  .contacto-image3 {
    width: 40px;
  }
  .contacto-barrainferior {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-unit);
  }
  .contacto-menumovil {
    padding: var(--dl-space-space-twounits);
  }
  .contacto-image4 {
    width: 70%;
  }
  .contacto-icon3 {
    align-self: center;
  }
  .contacto-text12 {
    font-size: 30px;
  }
  .contacto-text13 {
    font-size: 30px;
  }
  .contacto-text14 {
    font-size: 30px;
  }
  .contacto-text16 {
    font-size: 30px;
  }
  .contacto-text17 {
    font-size: 30px;
  }
  .contacto-text18 {
    font-size: 30px;
  }
  .contacto-text19 {
    font-size: 30px;
  }
  .contacto-text20 {
    font-size: 30px;
  }
  .contacto-contenedorprincipal {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .contacto-contenedortextos {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .contacto-header1 {
    width: auto;
    font-size: 50px;
    max-width: auto;
    font-style: normal;
    font-weight: 600;
    line-height: 55px;
  }
  .contacto-image5 {
    width: 100%;
    height: 100%;
  }
  .contacto-fondo2principal {
    left: 0;
    width: 100%;
    bottom: 0px;
    height: 30%;
    position: absolute;
    justify-content: flex-end;
  }
  .contacto-seccioncontenido {
    padding-top: var(--dl-space-space-fiveunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .contacto-contenedorprimario {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .contacto-heading {
    font-size: 25px;
  }
  .contacto-texto2 {
    width: 100%;
  }
  .contacto-caption {
    font-size: 10px;
    max-width: 100%;
    align-self: center;
    text-align: justify;
    line-height: 20px;
  }
  .contacto-footer {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .contacto-image7 {
    width: 300px;
    height: auto;
  }
  .contacto-image8 {
    width: 140px;
  }
  .contacto-image9 {
    width: 140px;
  }
  .contacto-contenedorcentro {
    width: 340px;
    height: 378px;
  }
  .contacto-contenedormenu {
    width: 340px;
  }
  .contacto-header2 {
    color: rgb(255, 255, 255);
    width: 340px;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
  }
  .contacto-link22 {
    color: rgb(255, 255, 255);
    width: 340px;
    font-size: 20px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .contacto-link23 {
    color: rgb(255, 255, 255);
    width: 340px;
    font-size: 20px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .contacto-link24 {
    color: rgb(255, 255, 255);
    width: 340px;
    font-size: 20px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .contacto-link25 {
    color: rgb(255, 255, 255);
    width: 340px;
    font-size: 20px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .contacto-link26 {
    color: rgb(255, 255, 255);
    width: 340px;
    font-size: 20px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .contacto-link27 {
    color: rgb(255, 255, 255);
    width: 340px;
    font-size: 20px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .contacto-link28 {
    color: rgb(255, 255, 255);
    width: 340px;
    font-size: 20px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .contacto-contenedorderecho {
    width: 300px;
    height: 378px;
  }
  .contacto-contenedorubicacion {
    width: 300px;
  }
  .contacto-header3 {
    color: rgb(255, 255, 255);
    width: 300px;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
  }
  .contacto-link30 {
    color: rgb(255, 255, 255);
    width: 300px;
    font-size: 20px;
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .contacto-link31 {
    color: rgb(255, 255, 255);
    width: 300px;
    font-size: 20px;
  }
  .contacto-link32 {
    color: rgb(255, 255, 255);
    width: 300px;
    font-size: 20px;
  }
}
