.sliderlogos-wrapper {
  display: contents;
}
.sliderlogos-header78 {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
  background-color: whitesmoke;
}
.sliderlogos-contenedorprincipal {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.sliderlogos-contenedorfilas {
  width: 100%;
}
.sliderlogos-image11 {
  width: 400px;
  height: 400px;
  text-decoration: none;
}
.sliderlogos-image21 {
  width: 320px;
  height: 320px;
  text-decoration: none;
}
.sliderlogos-image31 {
  width: 400px;
  height: 400px;
  text-decoration: none;
}
.sliderlogos-image41 {
  width: 320px;
  height: 320px;
  text-decoration: none;
}
.sliderlogos-image51 {
  width: 400px;
  height: 400px;
  text-decoration: none;
}
.sliderlogos-image61 {
  width: 320px;
  height: 320px;
  text-decoration: none;
}
.sliderlogos-image12 {
  width: 400px;
  height: 400px;
  text-decoration: none;
}
.sliderlogos-image22 {
  width: 320px;
  height: 320px;
  text-decoration: none;
}
.sliderlogos-image32 {
  width: 400px;
  height: 400px;
  text-decoration: none;
}
.sliderlogos-image42 {
  width: 320px;
  height: 320px;
  text-decoration: none;
}
.sliderlogos-image52 {
  width: 400px;
  height: 400px;
  text-decoration: none;
}
.sliderlogos-image62 {
  width: 320px;
  height: 320px;
  text-decoration: none;
}
.sliderlogos-container2 {
  display: contents;
}

@media(max-width: 1600px) {
  .sliderlogosroot-class-name {
    height: auto;
  }
}
@media(max-width: 767px) {
  .sliderlogos-contenedorprincipal {
    width: 100%;
  }
}

.sobrelarevista-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  scroll-behavior: smooth;
  background-color: whitesmoke;
}
.sobrelarevista-seccionprincipal {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  animation-name: fadeIn;
  flex-direction: column;
  animation-delay: 0s;
  animation-duration: 700ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.sobrelarevista-barrasuperior {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  z-index: 100;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-scheme-white);
}
.sobrelarevista-logoizquierda {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  justify-content: center;
}
.sobrelarevista-link10 {
  display: contents;
}
.sobrelarevista-image10 {
  width: 100px;
  object-fit: cover;
  transition: 0.5s;
  animation-name: fadeInRight;
  animation-delay: 0s;
  text-decoration: none;
  animation-duration: 700ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.sobrelarevista-image10:hover {
  cursor: pointer;
  transform: scale(0.8);
  transition: 0.5s;
}
.sobrelarevista-logocentro {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  justify-content: center;
}
.sobrelarevista-image11 {
  width: 400px;
  height: 100px;
  object-fit: cover;
  transition: 0.5s;
  animation-name: fadeInDown;
  animation-delay: 0s;
  text-decoration: none;
  animation-duration: 700ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.sobrelarevista-image11:hover {
  cursor: pointer;
  transform: scale(0.9);
  transition: 0.5s;
}
.sobrelarevista-logoderecha {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  justify-content: center;
}
.sobrelarevista-link11 {
  display: contents;
}
.sobrelarevista-image12 {
  width: 100px;
  object-fit: cover;
  transition: 0.5s;
  animation-name: fadeInLeft;
  animation-delay: 0s;
  text-decoration: none;
  animation-duration: 700ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.sobrelarevista-image12:hover {
  cursor: pointer;
  transform: scale(0.8);
  transition: 0.5s;
}
.sobrelarevista-barrainferior {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  z-index: 1002;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 0px;
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  padding-bottom: 0px;
  justify-content: space-between;
  background-color: var(--dl-color-scheme-white);
}
.sobrelarevista-botonmenu {
  display: none;
  transition: 0.5s;
  align-items: center;
  justify-content: center;
}
.sobrelarevista-botonmenu:hover {
  cursor: pointer;
  transform: translate(0px,5px);
}
.sobrelarevista-icon1 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.sobrelarevista-botoninicio {
  flex: 0 0 auto;
  width: var(--dl-size-size-large);
  cursor: pointer;
  height: var(--dl-size-size-medium);
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  transition: 0.5s;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #ffffff;
}
.sobrelarevista-botoninicio:hover {
  z-index: 10001;
  transform: translateY(10px);
  transition: 0.5s;
  border-color: var(--dl-color-theme-neutral-dark);
  background-color: whitesmoke;
  border-bottom-width: 8px;
}
.sobrelarevista-link12 {
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding-left: 0px;
}
.sobrelarevista-botonsobrerevista {
  flex: 0 0 auto;
  width: var(--dl-size-size-large);
  cursor: pointer;
  height: var(--dl-size-size-medium);
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  transition: 0.5s;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #ffffff;
}
.sobrelarevista-botonsobrerevista:hover {
  z-index: 10001;
  transform: translateY(10px);
  transition: 0.5s;
  border-color: var(--dl-color-theme-neutral-dark);
  background-color: whitesmoke;
  border-bottom-width: 8px;
}
.sobrelarevista-link13 {
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding-left: 0px;
  text-decoration: none;
}
.sobrelarevista-botoncomiteeditorial {
  flex: 0 0 auto;
  width: var(--dl-size-size-large);
  cursor: pointer;
  height: var(--dl-size-size-medium);
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  transition: 0.5s;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #ffffff;
}
.sobrelarevista-botoncomiteeditorial:hover {
  z-index: 10001;
  transform: translateY(10px);
  transition: 0.5s;
  border-color: var(--dl-color-theme-neutral-dark);
  background-color: whitesmoke;
  border-bottom-width: 8px;
}
.sobrelarevista-link14 {
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding-left: 0px;
  text-decoration: none;
}
.sobrelarevista-botonarchivos {
  flex: 0 0 auto;
  width: var(--dl-size-size-large);
  cursor: pointer;
  height: var(--dl-size-size-medium);
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  transition: 0.5s;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
.sobrelarevista-botonarchivos:hover {
  z-index: 10001;
  transform: translateY(10px);
  transition: 0.5s;
  border-color: var(--dl-color-theme-neutral-dark);
  background-color: whitesmoke;
  border-bottom-width: 8px;
}
.sobrelarevista-link15 {
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding-left: 0px;
  text-decoration: none;
}
.sobrelarevista-botonpoliticaeditorial {
  flex: 0 0 auto;
  width: var(--dl-size-size-large);
  cursor: pointer;
  height: var(--dl-size-size-medium);
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  transition: 0.5s;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #ffffff;
}
.sobrelarevista-botonpoliticaeditorial:hover {
  z-index: 10001;
  transform: translateY(10px);
  transition: 0.5s;
  border-color: var(--dl-color-theme-neutral-dark);
  background-color: whitesmoke;
  border-bottom-width: 8px;
}
.sobrelarevista-link16 {
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding-left: 0px;
  text-decoration: none;
}
.sobrelarevista-botongaleria {
  flex: 0 0 auto;
  width: var(--dl-size-size-large);
  cursor: pointer;
  height: var(--dl-size-size-medium);
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  transition: 0.5s;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
.sobrelarevista-botongaleria:hover {
  z-index: 10001;
  transform: translateY(10px);
  transition: 0.5s;
  border-color: var(--dl-color-theme-neutral-dark);
  background-color: whitesmoke;
  border-bottom-width: 8px;
}
.sobrelarevista-link17 {
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding-left: 0px;
  text-decoration: none;
}
.sobrelarevista-botoncontacto {
  flex: 0 0 auto;
  width: var(--dl-size-size-large);
  cursor: pointer;
  height: var(--dl-size-size-medium);
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  transition: 0.5s;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
.sobrelarevista-botoncontacto:hover {
  z-index: 10001;
  transform: translateY(10px);
  transition: 0.5s;
  border-color: var(--dl-color-theme-neutral-dark);
  background-color: whitesmoke;
  border-bottom-width: 8px;
}
.sobrelarevista-link18 {
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding-left: 0px;
  text-decoration: none;
}
.sobrelarevista-menumovil {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  position: fixed;
  transform: translateX(100%);
  overflow-y: auto;
  transition: 0.5s;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
  background-color: var(--dl-color-scheme-white);
}
.sobrelarevista-marco {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sobrelarevista-logorevista {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.sobrelarevista-image13 {
  width: 20%;
}
.sobrelarevista-botoncerrar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.sobrelarevista-icon3 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  transition: 0.5s;
}
.sobrelarevista-icon3:hover {
  cursor: pointer;
  transform: translateX(-10px) scale(1.1);
  transition: 0.5s;
}
.sobrelarevista-marco-para-links {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sobrelarevista-text12 {
  transition: 0.5s;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.sobrelarevista-text12:hover {
  cursor: pointer;
  transform: translateX(10px) scale(1.1);
  transition: 0.5s;
}
.sobrelarevista-text13 {
  transition: 0.5s;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.sobrelarevista-text13:hover {
  cursor: pointer;
  transform: translateX(10px) scale(1.1);
  transition: 0.5s;
}
.sobrelarevista-text14:hover {
  cursor: pointer;
  transform: translateX(10px) scale(1.1);
  transition: 0.5s;
}
.sobrelarevista-text16 {
  transition: 0.5s;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.sobrelarevista-text16:hover {
  cursor: pointer;
  transform: translateX(10px) scale(1.1);
  transition: 0.5s;
}
.sobrelarevista-text17 {
  transition: 0.5s;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.sobrelarevista-text17:hover {
  cursor: pointer;
  transform: translateX(10px) scale(1.1);
  transition: 0.5s;
}
.sobrelarevista-text18 {
  transition: 0.5s;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.sobrelarevista-text18:hover {
  cursor: pointer;
  transform: translateX(10px) scale(1.1);
  transition: 0.5s;
}
.sobrelarevista-text19 {
  transition: 0.5s;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.sobrelarevista-text19:hover {
  cursor: pointer;
  transform: translateX(10px) scale(1.1);
  transition: 0.5s;
}
.sobrelarevista-text20 {
  transition: 0.5s;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.sobrelarevista-text20:hover {
  cursor: pointer;
  transform: translateX(10px) scale(1.1);
  transition: 0.5s;
}
.sobrelarevista-bannersobrerevista {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}
.sobrelarevista-image14 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}
.sobrelarevista-image14:hover {
  transform: scale(1.05);
  transition: 0.5s;
}
.sobrelarevista-secciontitulo {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  z-index: 100;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: #24276b;
}
.sobrelarevista-texto1 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sobrelarevista-header1 {
  color: var(--dl-color-gray-white);
  font-size: 66px;
  max-width: auto;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.sobrelarevista-seccion1 {
  gap: 120px;
  width: 100%;
  display: flex;
  z-index: 100;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  background-color: var(--dl-color-scheme-white);
}
.sobrelarevista-seccionnosotros {
  width: 85%;
  height: auto;
  display: flex;
  align-self: stretch;
  align-items: center;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row-reverse;
  background-color: whitesmoke;
}
.sobrelarevista-contenedortexto1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: center;
}
.sobrelarevista-texto2 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sobrelarevista-heading1 {
  width: auto;
  font-size: 56px;
  max-width: auto;
  font-style: normal;
  font-weight: 600;
  padding-bottom: var(--dl-space-space-twounits);
}
.sobrelarevista-caption1 {
  font-size: 18px;
  max-width: auto;
  line-height: 28px;
}
.sobrelarevista-link19 {
  text-decoration: underline;
}
.sobrelarevista-contenedorimagen1 {
  flex: 0 0 auto;
  width: 40%;
  height: 100%;
  display: flex;
  overflow: hidden;
  transition: 0.5s;
  align-items: flex-start;
  border-color: whitesmoke;
  border-right-width: 40px;
}
.sobrelarevista-contenedorimagen1:hover {
  transition: 0.5s;
  border-color: #e1e1e1;
}
.sobrelarevista-image15 {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: 0.5s;
}
.sobrelarevista-image15:hover {
  transform: scale(1.05);
  transition: 0.5s;
}
.sobrelarevista-seccion2 {
  gap: 120px;
  width: 100%;
  display: flex;
  z-index: 100;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row-reverse;
  padding-bottom: var(--dl-space-space-sixunits);
  background-color: var(--dl-color-scheme-white);
}
.sobrelarevista-seccionnuestramision {
  width: 85%;
  height: auto;
  display: flex;
  align-self: stretch;
  align-items: center;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  background-color: whitesmoke;
}
.sobrelarevista-contenedortexto2 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: center;
}
.sobrelarevista-texto3 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sobrelarevista-heading2 {
  width: auto;
  font-size: 56px;
  max-width: auto;
  font-style: normal;
  font-weight: 600;
  padding-bottom: var(--dl-space-space-twounits);
}
.sobrelarevista-caption2 {
  font-size: 18px;
  max-width: auto;
  line-height: 28px;
}
.sobrelarevista-contenedorimagen2 {
  flex: 0 0 auto;
  width: 40%;
  height: 100%;
  display: flex;
  overflow: hidden;
  transition: 0.5s;
  align-items: flex-start;
  border-color: whitesmoke;
  border-left-width: 40px;
}
.sobrelarevista-contenedorimagen2:hover {
  transition: 0.5s;
  border-color: #e1e1e1;
}
.sobrelarevista-image16 {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: 0.5s;
}
.sobrelarevista-image16:hover {
  transform: scale(1.05);
  transition: 0.5s;
}
.sobrelarevista-seccionindizadaen {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  background-color: whitesmoke;
}
.sobrelarevista-texto4 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  max-width: auto;
  align-items: center;
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: center;
}
.sobrelarevista-header2 {
  font-size: 56px;
  max-width: auto;
  font-style: normal;
  text-align: center;
  transition: 0.5s;
  font-weight: 600;
  padding-bottom: var(--dl-space-space-twounits);
}

.sobrelarevista-header3 {
  font-size: 18px;
  max-width: auto;
  align-self: stretch;
  text-align: center;
  line-height: 28px;
}
.sobrelarevista-footer {
  width: 100%;
  display: flex;
  align-items: stretch;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: space-between;
  background-color: #000000;
}
.sobrelarevista-contenedorizquierda {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  transition: 0.5s;
  align-items: flex-start;
  padding-right: var(--dl-space-space-sixunits);
  justify-content: flex-start;
}
.sobrelarevista-contenedorlogos {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sobrelarevista-image17 {
  width: 400px;
  cursor: pointer;
  object-fit: cover;
  transition: 0.5s;
  text-decoration: none;
}
.sobrelarevista-image17:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: scale(0.9);
  transition: 0.5s;
}
.sobrelarevista-contenedorlogoscomezu {
  flex: 0 0 auto;
  height: auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  justify-content: center;
}
.sobrelarevista-link20 {
  display: contents;
}
.sobrelarevista-image18 {
  width: 180px;
  cursor: pointer;
  object-fit: cover;
  transition: 0.5s;
  text-decoration: none;
}
.sobrelarevista-image18:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: scale(0.9);
  transition: 0.5s;
}
.sobrelarevista-link21 {
  display: contents;
}
.sobrelarevista-image19 {
  width: 180px;
  cursor: pointer;
  object-fit: cover;
  transition: 0.5s;
  text-decoration: none;
}
.sobrelarevista-image19:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: scale(0.9);
  transition: 0.5s;
}
.sobrelarevista-contenedorcentro {
  gap: 140px;
  width: 330px;
  display: flex;
  align-self: stretch;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: row;
}

.sobrelarevista-contenedormenu {
  width: 330px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.sobrelarevista-header4 {
  color: rgb(255, 255, 255);
  width: 330px;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  padding-bottom: var(--dl-space-space-twounits);
}
.sobrelarevista-navlink1 {
  display: contents;
}
.sobrelarevista-link22 {
  color: rgb(255, 255, 255);
  width: 300px;
  font-size: 30px;
  transition: 0.5s;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.sobrelarevista-link22:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: translate(5px,0px);
  transition: 0.5s;
}
.sobrelarevista-navlink2 {
  display: contents;
}
.sobrelarevista-link23 {
  color: rgb(255, 255, 255);
  width: 300px;
  font-size: 30px;
  transition: 0.5s;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.sobrelarevista-link23:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: translate(5px,0px);
  transition: 0.5s;
}
.sobrelarevista-link24 {
  color: rgb(255, 255, 255);
  width: 300px;
  font-size: 30px;
  transition: 0.5s;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.sobrelarevista-link24:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: translate(5px,0px);
  transition: 0.5s;
}
.sobrelarevista-link25 {
  color: rgb(255, 255, 255);
  width: 300px;
  font-size: 30px;
  transition: 0.5s;
  padding-bottom: var(--dl-space-space-unit);
}
.sobrelarevista-link25:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: translate(5px,0px);
  transition: 0.5s;
}
.sobrelarevista-link28 {
  color: rgb(255, 255, 255);
  width: 300px;
  font-size: 30px;
  transition: 0.5s;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.sobrelarevista-link28:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: translate(5px,0px);
  transition: 0.5s;
}
.sobrelarevista-link29 {
  color: rgb(255, 255, 255);
  width: 300px;
  font-size: 30px;
  transition: 0.5s;
  padding-bottom: var(--dl-space-space-unit);
}
.sobrelarevista-link29:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: translate(5px,0px);
  transition: 0.5s;
}
.sobrelarevista-link32 {
  color: rgb(255, 255, 255);
  width: 300px;
  font-size: 30px;
  transition: 0.5s;
  padding-bottom: var(--dl-space-space-unit);
}
.sobrelarevista-link32:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: translate(5px,0px);
  transition: 0.5s;
}
.sobrelarevista-contenedorderecho {
  gap: 140px;
  width: 700px;
  display: flex;
  align-self: stretch;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: row;
}

.sobrelarevista-contenedorubicacion {
  flex: 0 0 auto;
  width: 700px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.sobrelarevista-header5 {
  color: rgb(255, 255, 255);
  width: 474px;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  padding-bottom: var(--dl-space-space-twounits);
}
.sobrelarevista-link35 {
  display: contents;
}
.sobrelarevista-link36 {
  color: rgb(255, 255, 255);
  width: 700px;
  font-size: 30px;
  transition: 0.5s;
  padding-bottom: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.sobrelarevista-link36:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: translateX(5px);
  transition: 0.5s;
}
.sobrelarevista-link37 {
  color: rgb(255, 255, 255);
  width: 700px;
  font-size: 30px;
  padding-bottom: var(--dl-space-space-threeunits);
}
.sobrelarevista-link38 {
  color: rgb(255, 255, 255);
  width: 700px;
  font-size: 30px;
}
@media(max-width: 1600px) {
  .sobrelarevista-seccionprincipal {
    height: 100vh;
  }
  .sobrelarevista-link12 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .sobrelarevista-link13 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .sobrelarevista-link14 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .sobrelarevista-link15 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .sobrelarevista-link16 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .sobrelarevista-link17 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .sobrelarevista-link18 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .sobrelarevista-text10 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .sobrelarevista-seccion1 {
    width: 100%;
  }
  .sobrelarevista-seccionnosotros {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .sobrelarevista-contenedortexto1 {
    height: auto;
    padding-right: var(--dl-space-space-sixunits);
  }
  .sobrelarevista-heading1 {
    font-size: 56px;
    text-align: left;
  }
  .sobrelarevista-seccion2 {
    width: 100%;
  }
  .sobrelarevista-seccionnuestramision {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .sobrelarevista-contenedortexto2 {
    height: auto;
    padding-right: var(--dl-space-space-sixunits);
  }
  .sobrelarevista-heading2 {
    font-size: 56px;
    text-align: left;
  }
  .sobrelarevista-seccionindizadaen {
    padding-top: var(--dl-space-space-sixunits);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-sixunits);
  }
  .sobrelarevista-footer {
    width: 100%;
    padding: var(--dl-space-space-sixunits);
  }
  .sobrelarevista-contenedorizquierda {
    padding-right: 0px;
  }
  .sobrelarevista-contenedorlogos {
    padding-right: 0px;
  }
  .sobrelarevista-image17 {
    width: 427px;
  }
  .sobrelarevista-contenedorlogoscomezu {
    width: auto;
    align-self: stretch;
    justify-content: center;
  }
  .sobrelarevista-contenedorcentro {
    width: 230px;
    align-self: stretch;
  }
  .sobrelarevista-header4 {
    width: 230px;
    font-size: 35px;
  }
  .sobrelarevista-link22 {
    width: 230px;
    font-size: 20px;
  }
  .sobrelarevista-link23 {
    width: 230px;
    font-size: 20px;
  }
  .sobrelarevista-link24 {
    width: 230px;
    font-size: 20px;
  }
  .sobrelarevista-link25 {
    width: 230px;
    font-size: 20px;
  }
  .sobrelarevista-link28 {
    width: 230px;
    font-size: 20px;
  }
  .sobrelarevista-link29 {
    width: 230px;
    font-size: 20px;
  }
  .sobrelarevista-link32 {
    width: 230px;
    font-size: 20px;
  }
  .sobrelarevista-contenedorderecho {
    width: 306px;
    align-self: stretch;
  }
  .sobrelarevista-contenedorubicacion {
    width: 290px;
  }
  .sobrelarevista-header5 {
    width: 200px;
    font-size: 35px;
  }
  .sobrelarevista-link36 {
    width: 280px;
    font-size: 20px;
    margin-right: 0px;
  }
  .sobrelarevista-link37 {
    width: 280px;
    font-size: 20px;
  }
  .sobrelarevista-link38 {
    width: 280px;
    font-size: 20px;
  }
}
@media(max-width: 1200px) {
  .sobrelarevista-seccionprincipal {
    height: 100vh;
  }
  .sobrelarevista-botoninicio {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-small);
    font-size: 10px;
  }
  .sobrelarevista-link12 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .sobrelarevista-botonsobrerevista {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-small);
    font-size: 10px;
  }
  .sobrelarevista-link13 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .sobrelarevista-botoncomiteeditorial {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-small);
    font-size: 10px;
  }
  .sobrelarevista-link14 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .sobrelarevista-botonarchivos {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-small);
    font-size: 10px;
  }
  .sobrelarevista-link15 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .sobrelarevista-botonpoliticaeditorial {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-small);
    font-size: 10px;
  }
  .sobrelarevista-link16 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .sobrelarevista-botongaleria {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-small);
    font-size: 10px;
  }
  .sobrelarevista-link17 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .sobrelarevista-botoncontacto {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-small);
    font-size: 10px;
  }
  .sobrelarevista-link18 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .sobrelarevista-text10 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .sobrelarevista-image13 {
    width: 25%;
  }
  .sobrelarevista-seccion1 {
    padding-top: var(--dl-space-space-fiveunits);
    padding-left: 0px;
    padding-right: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .sobrelarevista-seccionnosotros {
    width: 100%;
    align-self: stretch;
    padding-left: 0px;
    padding-right: 0px;
  }
  .sobrelarevista-contenedortexto1 {
    height: auto;
    padding-top: 0px;
    padding-left: var(--dl-space-space-fiveunits);
    padding-right: var(--dl-space-space-fiveunits);
    padding-bottom: 0px;
  }
  .sobrelarevista-texto2 {
    height: auto;
  }
  .sobrelarevista-heading1 {
    font-size: 36px;
    text-align: left;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .sobrelarevista-seccion2 {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .sobrelarevista-seccionnuestramision {
    width: 100%;
    align-self: stretch;
    padding-left: 0px;
    padding-right: 0px;
  }
  .sobrelarevista-contenedortexto2 {
    height: auto;
    padding-top: 0px;
    padding-left: var(--dl-space-space-fiveunits);
    padding-right: var(--dl-space-space-fiveunits);
    padding-bottom: 0px;
  }
  .sobrelarevista-texto3 {
    height: auto;
  }
  .sobrelarevista-heading2 {
    font-size: 36px;
    text-align: left;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .sobrelarevista-header3 {
    font-size: 18px;
  }
  .sobrelarevista-footer {
    width: 100%;
    padding: var(--dl-space-space-fiveunits);
  }
  .sobrelarevista-contenedorizquierda {
    width: 240px;
    padding-right: 0px;
  }
  .sobrelarevista-contenedorlogos {
    width: 280px;
    padding-right: 0px;
  }
  .sobrelarevista-image17 {
    width: 280px;
  }
  .sobrelarevista-contenedorlogoscomezu {
    width: auto;
    align-self: stretch;
    justify-content: center;
  }
  .sobrelarevista-image18 {
    width: 120px;
  }
  .sobrelarevista-image19 {
    width: 120px;
  }
  .sobrelarevista-contenedorcentro {
    width: 200px;
    align-self: stretch;
    padding-right: 0px;
  }
  .sobrelarevista-contenedormenu {
    width: 200px;
  }
  .sobrelarevista-header4 {
    width: 180px;
  }
  .sobrelarevista-link22 {
    color: rgb(255, 255, 255);
    width: 200px;
    font-size: 20px;
  }
  .sobrelarevista-link23 {
    color: rgb(255, 255, 255);
    width: 200px;
    font-size: 20px;
  }
  .sobrelarevista-link24 {
    color: rgb(255, 255, 255);
    width: 200px;
    font-size: 20px;
  }
  .sobrelarevista-link25 {
    color: rgb(255, 255, 255);
    width: 200px;
    font-size: 20px;
  }
  .sobrelarevista-link28 {
    color: rgb(255, 255, 255);
    width: 200px;
    font-size: 20px;
  }
  .sobrelarevista-link29 {
    color: rgb(255, 255, 255);
    width: 200px;
    font-size: 20px;
  }
  .sobrelarevista-link32 {
    color: rgb(255, 255, 255);
    width: 200px;
    font-size: 20px;
  }
  .sobrelarevista-contenedorderecho {
    width: 320px;
    align-self: stretch;
  }
  .sobrelarevista-contenedorubicacion {
    width: 300px;
  }
  .sobrelarevista-header5 {
    width: 320px;
  }
  .sobrelarevista-link36 {
    color: rgb(255, 255, 255);
    width: 300px;
    font-size: 20px;
  }
  .sobrelarevista-link37 {
    color: rgb(255, 255, 255);
    width: 320px;
    font-size: 20px;
  }
  .sobrelarevista-link38 {
    color: rgb(255, 255, 255);
    width: 320px;
    font-size: 20px;
  }
}
@media(max-width: 991px) {
  .sobrelarevista-seccionprincipal {
    flex: 1;
  }
  .sobrelarevista-barrasuperior {
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: row;
  }
  .sobrelarevista-image10 {
    width: 80px;
  }
  .sobrelarevista-image11 {
    width: auto;
    height: 100px;
  }
  .sobrelarevista-image12 {
    width: 80px;
  }
  .sobrelarevista-barrainferior {
    height: 100px;
    align-self: center;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-unit);
    justify-content: center;
  }
  .sobrelarevista-botonmenu {
    display: flex;
    align-self: stretch;
  }
  .sobrelarevista-icon1 {
    fill: #000000;
  }
  .sobrelarevista-botoninicio {
    display: none;
  }
  .sobrelarevista-link12 {
    display: none;
  }
  .sobrelarevista-botonsobrerevista {
    display: none;
  }
  .sobrelarevista-link13 {
    display: none;
  }
  .sobrelarevista-botoncomiteeditorial {
    display: none;
  }
  .sobrelarevista-link14 {
    display: none;
  }
  .sobrelarevista-botonarchivos {
    display: none;
  }
  .sobrelarevista-link15 {
    display: none;
  }
  .sobrelarevista-botonpoliticaeditorial {
    display: none;
  }
  .sobrelarevista-link16 {
    display: none;
  }
  .sobrelarevista-botongaleria {
    display: none;
  }
  .sobrelarevista-link17 {
    display: none;
  }
  .sobrelarevista-botoncontacto {
    display: none;
  }
  .sobrelarevista-link18 {
    display: none;
  }
  .sobrelarevista-text10 {
    display: none;
  }
  .sobrelarevista-image13 {
    width: 40%;
  }
  .sobrelarevista-marco-para-links {
    align-self: stretch;
    padding-left: var(--dl-space-space-unit);
  }
  .sobrelarevista-text12 {
    font-size: 30px;
  }
  .sobrelarevista-text13 {
    font-size: 30px;
  }
  .sobrelarevista-text14 {
    font-size: 30px;
  }
  .sobrelarevista-text16 {
    font-size: 30px;
  }
  .sobrelarevista-text17 {
    font-size: 30px;
  }
  .sobrelarevista-text18 {
    font-size: 30px;
  }
  .sobrelarevista-text19 {
    font-size: 30px;
  }
  .sobrelarevista-text20 {
    font-size: 30px;
  }
  .sobrelarevista-secciontitulo {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    padding: var(--dl-space-space-threeunits);
  }
  .sobrelarevista-header1 {
    font-size: 50px;
  }
  .sobrelarevista-seccion1 {
    gap: var(--dl-space-space-threeunits);
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .sobrelarevista-seccionnosotros {
    height: auto;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 0px;
    justify-content: space-between;
  }
  .sobrelarevista-contenedortexto1 {
    align-self: stretch;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .sobrelarevista-heading1 {
    font-size: 46px;
    max-width: 100%;
    text-align: left;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .sobrelarevista-caption1 {
    font-size: 18px;
    max-width: 100%;
    text-align: left;
    line-height: 28px;
  }
  .sobrelarevista-contenedorimagen1 {
    width: 100%;
    height: auto;
    align-self: center;
    border-top-width: 40px;
    border-right-width: 0px;
  }
  .sobrelarevista-image15 {
    width: 100%;
  }
  .sobrelarevista-seccion2 {
    gap: var(--dl-space-space-threeunits);
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .sobrelarevista-seccionnuestramision {
    height: auto;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 0px;
    justify-content: space-between;
  }
  .sobrelarevista-contenedortexto2 {
    align-self: stretch;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .sobrelarevista-heading2 {
    font-size: 46px;
    max-width: 100%;
    text-align: left;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .sobrelarevista-caption2 {
    font-size: 18px;
    max-width: 100%;
    text-align: left;
    line-height: 28px;
  }
  .sobrelarevista-contenedorimagen2 {
    width: 100%;
    height: auto;
    align-self: center;
    border-top-width: 40px;
    border-left-width: 0px;
  }
  .sobrelarevista-image16 {
    width: 100%;
  }
  .sobrelarevista-seccionindizadaen {
    gap: var(--dl-space-space-threeunits);
    padding: var(--dl-space-space-threeunits);
  }
  .sobrelarevista-header2 {
    padding-bottom: var(--dl-space-space-unit);
  }
  .sobrelarevista-footer {
    gap: 100px;
    padding: var(--dl-space-space-threeunits);
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .sobrelarevista-image17 {
    width: 450px;
  }
  .sobrelarevista-image18 {
    width: 180px;
    height: auto;
  }
  .sobrelarevista-image19 {
    width: 180px;
    height: auto;
  }
  .sobrelarevista-contenedorcentro {
    gap: var(--dl-space-space-twounits);
    width: 520px;
    height: 309px;
    flex-direction: column;
  }
  .sobrelarevista-contenedormenu {
    width: 100%;
  }
  .sobrelarevista-header4 {
    color: rgb(255, 255, 255);
    width: 550px;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
  }
  .sobrelarevista-link22 {
    color: rgb(255, 255, 255);
    width: 550px;
    font-size: 20px;
  }
  .sobrelarevista-link23 {
    color: rgb(255, 255, 255);
    width: 550px;
    font-size: 20px;
  }
  .sobrelarevista-link24 {
    color: rgb(255, 255, 255);
    width: 550px;
    font-size: 20px;
  }
  .sobrelarevista-link25 {
    color: rgb(255, 255, 255);
    width: 550px;
    font-size: 20px;
  }
  .sobrelarevista-link28 {
    color: rgb(255, 255, 255);
    width: 550px;
    font-size: 20px;
  }
  .sobrelarevista-link29 {
    color: rgb(255, 255, 255);
    width: 550px;
    font-size: 20px;
  }
  .sobrelarevista-link32 {
    color: rgb(255, 255, 255);
    width: 550px;
    font-size: 20px;
  }
  .sobrelarevista-contenedorderecho {
    gap: var(--dl-space-space-twounits);
    width: 520px;
    height: 309px;
    flex-direction: column;
  }
  .sobrelarevista-contenedorubicacion {
    width: 100%;
  }
  .sobrelarevista-header5 {
    color: rgb(255, 255, 255);
    width: 550px;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
  }
  .sobrelarevista-link36 {
    color: rgb(255, 255, 255);
    width: 550px;
    font-size: 20px;
  }
  .sobrelarevista-link37 {
    color: rgb(255, 255, 255);
    width: 550px;
    font-size: 20px;
  }
  .sobrelarevista-link38 {
    color: rgb(255, 255, 255);
    width: 550px;
    font-size: 20px;
  }
}
@media(max-width: 767px) {
  .sobrelarevista-seccionprincipal {
    height: 100vh;
  }
  .sobrelarevista-barrasuperior {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-unit);
  }
  .sobrelarevista-image10 {
    width: 60px;
  }
  .sobrelarevista-image11 {
    width: auto;
    height: 100px;
  }
  .sobrelarevista-image12 {
    width: 60px;
  }
  .sobrelarevista-barrainferior {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-unit);
  }
  .sobrelarevista-botonmenu {
    display: flex;
  }
  .sobrelarevista-icon1 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .sobrelarevista-image13 {
    width: 50%;
  }
  .sobrelarevista-text12 {
    font-size: 30px;
  }
  .sobrelarevista-text13 {
    font-size: 30px;
  }
  .sobrelarevista-text14 {
    font-size: 30px;
  }
  .sobrelarevista-text16 {
    font-size: 30px;
  }
  .sobrelarevista-text17 {
    font-size: 30px;
  }
  .sobrelarevista-text18 {
    font-size: 30px;
  }
  .sobrelarevista-text19 {
    font-size: 30px;
  }
  .sobrelarevista-text20 {
    font-size: 30px;
  }
  .sobrelarevista-header1 {
    font-size: 30px;
    line-height: 36px;
  }
  .sobrelarevista-seccion1 {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .sobrelarevista-contenedortexto1 {
    gap: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .sobrelarevista-heading1 {
    font-size: 30px;
    line-height: 36px;
  }
  .sobrelarevista-caption1 {
    font-size: 18px;
    max-width: 100%;
    line-height: 28px;
  }
  .sobrelarevista-contenedorimagen1 {
    height: auto;
  }
  .sobrelarevista-seccion2 {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .sobrelarevista-contenedortexto2 {
    gap: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .sobrelarevista-heading2 {
    font-size: 30px;
    line-height: 36px;
  }
  .sobrelarevista-caption2 {
    font-size: 18px;
    max-width: 100%;
    line-height: 28px;
  }
  .sobrelarevista-contenedorimagen2 {
    height: auto;
  }
  .sobrelarevista-seccionindizadaen {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .sobrelarevista-header2 {
    font-size: 30px;
    line-height: 36px;
  }
  .sobrelarevista-header3 {
    font-size: 18px;
    max-width: auto;
    line-height: 28px;
  }
  .sobrelarevista-footer {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .sobrelarevista-image17 {
    width: 372px;
    height: auto;
  }
  .sobrelarevista-contenedorcentro {
    width: 480px;
    height: 100%;
  }
  .sobrelarevista-contenedormenu {
    width: 480;
    height: 100%;
  }
  .sobrelarevista-header4 {
    width: 480px;
    height: 100%;
    font-size: 40px;
  }
  .sobrelarevista-link22 {
    width: 480px;
    height: 100%;
    font-size: 25px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .sobrelarevista-link23 {
    width: 480px;
    height: 100%;
    font-size: 25px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .sobrelarevista-link24 {
    width: 480px;
    height: 100%;
    font-size: 25px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .sobrelarevista-link25 {
    width: 480px;
    height: 100%;
    font-size: 25px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .sobrelarevista-link28 {
    width: 480px;
    height: 100%;
    font-size: 25px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .sobrelarevista-link29 {
    width: 480px;
    height: 100%;
    font-size: 25px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .sobrelarevista-link32 {
    width: 480px;
    height: 100%;
    font-size: 25px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .sobrelarevista-contenedorderecho {
    width: 480px;
    height: 100%;
  }
  .sobrelarevista-contenedorubicacion {
    width: 480;
    height: 100%;
  }
  .sobrelarevista-header5 {
    width: 480px;
    height: 100%;
    font-size: 40px;
  }
  .sobrelarevista-link36 {
    width: 480px;
    height: 100%;
    font-size: 25px;
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .sobrelarevista-link37 {
    width: 480px;
    height: 100%;
    font-size: 25px;
  }
  .sobrelarevista-link38 {
    width: 480px;
    height: 100%;
    font-size: 25px;
  }
}
@media(max-width: 479px) {
  .sobrelarevista-seccionprincipal {
    height: 100vh;
  }
  .sobrelarevista-barrasuperior {
    height: auto;
  }
  .sobrelarevista-image10 {
    width: 40px;
  }
  .sobrelarevista-image11 {
    width: auto;
    height: 60px;
  }
  .sobrelarevista-image12 {
    width: 40px;
  }
  .sobrelarevista-barrainferior {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-unit);
  }
  .sobrelarevista-menumovil {
    padding: var(--dl-space-space-twounits);
  }
  .sobrelarevista-image13 {
    width: 70%;
  }
  .sobrelarevista-icon3 {
    align-self: center;
  }
  .sobrelarevista-text12 {
    font-size: 30px;
  }
  .sobrelarevista-text13 {
    font-size: 30px;
  }
  .sobrelarevista-text14 {
    font-size: 30px;
  }
  .sobrelarevista-text16 {
    font-size: 30px;
  }
  .sobrelarevista-text17 {
    font-size: 30px;
  }
  .sobrelarevista-text18 {
    font-size: 30px;
  }
  .sobrelarevista-text19 {
    font-size: 30px;
  }
  .sobrelarevista-text20 {
    font-size: 30px;
  }
  .sobrelarevista-header1 {
    color: var(--dl-color-gray-white);
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
  }
  .sobrelarevista-seccion1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .sobrelarevista-seccionnosotros {
    padding-bottom: 0px;
  }
  .sobrelarevista-contenedortexto1 {
    padding-top: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .sobrelarevista-caption1 {
    font-size: 18px;
    max-width: 100%;
    line-height: 28px;
  }
  .sobrelarevista-seccion2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .sobrelarevista-seccionnuestramision {
    padding-bottom: 0px;
  }
  .sobrelarevista-contenedortexto2 {
    padding-top: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .sobrelarevista-caption2 {
    font-size: 18px;
    max-width: 100%;
    line-height: 28px;
  }
  .sobrelarevista-seccionindizadaen {
    padding-top: var(--dl-space-space-twounits);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .sobrelarevista-footer {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .sobrelarevista-image17 {
    width: 300px;
    height: auto;
  }
  .sobrelarevista-image18 {
    width: 140px;
  }
  .sobrelarevista-image19 {
    width: 140px;
  }
  .sobrelarevista-contenedorcentro {
    width: 340px;
    height: 378px;
  }
  .sobrelarevista-contenedormenu {
    width: 340px;
  }
  .sobrelarevista-header4 {
    color: rgb(255, 255, 255);
    width: 340px;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
  }
  .sobrelarevista-link22 {
    color: rgb(255, 255, 255);
    width: 340px;
    font-size: 20px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .sobrelarevista-link23 {
    color: rgb(255, 255, 255);
    width: 340px;
    font-size: 20px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .sobrelarevista-link24 {
    color: rgb(255, 255, 255);
    width: 340px;
    font-size: 20px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .sobrelarevista-link25 {
    color: rgb(255, 255, 255);
    width: 340px;
    font-size: 20px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .sobrelarevista-link28 {
    color: rgb(255, 255, 255);
    width: 340px;
    font-size: 20px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .sobrelarevista-link29 {
    color: rgb(255, 255, 255);
    width: 340px;
    font-size: 20px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .sobrelarevista-link32 {
    color: rgb(255, 255, 255);
    width: 340px;
    font-size: 20px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .sobrelarevista-contenedorderecho {
    width: 300px;
    height: 378px;
  }
  .sobrelarevista-contenedorubicacion {
    width: 300px;
  }
  .sobrelarevista-header5 {
    color: rgb(255, 255, 255);
    width: 300px;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
  }
  .sobrelarevista-link36 {
    color: rgb(255, 255, 255);
    width: 300px;
    font-size: 20px;
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .sobrelarevista-link37 {
    color: rgb(255, 255, 255);
    width: 300px;
    font-size: 20px;
  }
  .sobrelarevista-link38 {
    color: rgb(255, 255, 255);
    width: 300px;
    font-size: 20px;
  }
}
