.sliderfotos2-header78 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.sliderfotos2-contenedorprincipal {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.sliderfotos2-contenedorfilas {
  width: 100%;
}
.sliderfotos2-image11 {
  width: auto;
  height: 450px;
  padding-left: var(--dl-space-space-threeunits);
}
.sliderfotos2-image21 {
  width: auto;
  height: 450px;
}
.sliderfotos2-image31 {
  width: auto;
  height: 450px;
}
.sliderfotos2-image41 {
  width: auto;
  height: 450px;
}
.sliderfotos2-image51 {
  width: auto;
  height: 450px;
}
.sliderfotos2-image12 {
  width: auto;
  height: 450px;
}
.sliderfotos2-image22 {
  width: auto;
  height: 450px;
}
.sliderfotos2-image32 {
  width: auto;
  height: 450px;
}
.sliderfotos2-image42 {
  width: auto;
  height: 450px;
}
.sliderfotos2-image52 {
  width: auto;
  height: 450px;
}
.sliderfotos2-container2 {
  display: contents;
}

@media(max-width: 767px) {
  .sliderfotos2-contenedorprincipal {
    width: 100%;
  }
}
